<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=iso-8859-1" />
    <meta http-equiv="Content-Language" content="en-us" />

    <link rel="stylesheet" href="/site_media/styles.css" />
    <script type="text/javascript" src="/site_media/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/site_media/notes.js"></script>
    <title>{% block title %}My amazing site{% endblock %}</title>
</head>

<body>
  <div id="twitter_login">
    <a href="/login/">
      <img src="/site_media/images/twitter_button_5_lo.gif" />
    </a>
  <div>

  <div id="body_wrapper">
    <div id="twitter_content">
        {% block twitter_content %}{% endblock %}
    </div>
    </div>

<div id="page_footer"> 
Event Registration included! 
</div> 
</body>
</html>
