/* Name of site */
#title{
	color:#581E92;
	font-size:24px;
	font-weight:normal;
	margin-bottom: 20px;
}
/* div that contains the impression, breakdown, and pie charts */
#top {
	
}
/* Panel to select Campaign and Date */
#panelNav {
	padding: 0px 10px 0px 10px;
}
/* div to select Campaign, div to select date */
#selectDiv, #dateDiv{
	padding: 0px 0px 0px 0px;
	font-size: 16px;
	font-weight:normal;
}
#selectCampaign, #selectDate {
	padding: 5px 5px 5px 5px;
	border: 1px solid #ccc;
}
/* div for impressions chart, breakdown chart */
#topPic, #botPic{
	margin: 15px 10px 10px 10px;
	border: solid 1px #ccc;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
#topPic > img{
	margin: 0px 10px 10px 10px;
}
/* title for impressions chart, breakdown chart */
#topTitle, #botTitle, #influenceTitle {
	padding: 5px 5px 5px 5px;
	margin-bottom: 10px;
	font-size: 16px;
	font-weight:normal;
}
#influenceTitle {
	padding: 5px 5px 5px 0px;
	margin-bottom: 10px;
	font-size: 16px;
	font-weight:normal;
}
#botPic img{
	margin: 0px 10px 10px 10px;
}

// Formatting
// For the
// Influencers Chart
.userRow{
	height: 50px;
	padding-left: 5px;
}
.profilePic{
	float: left;	
}
.name{
	float: left;
	padding: 14px 0px 0px 12px;
	font-size: 14px;
	text-align: center;
	font-weight: bold;
	color: #888B7C;
}
.dReach{
	float: left;
	padding: 2px 0px 0px 70px;
	color: #888B7C;
}
.influence{
	float: left;
	padding: 2px 0px 0px 24px;
	color: #888B7C;
}
.follow{
	float: left;
	padding: 10px 0px 0px 22px;
	}
.dReach span, .influence span{
	font-size: 16px;
	color: #888B7C;
	font-weight: bold;
}

#influencers{
	padding-left: 8px;
}