settings.py
*.pyc
*~
static/images/events/*
static/images/tmp/*
static/images/event_logos/*
static/css/event_css/*
afetch/twistd.pid
afetch/twistd.log*
core/templates/event_templates/*
static/images/campaign/*
static/images/campaign_logos/*