<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=iso-8859-1" />
    <meta http-equiv="Content-Language" content="en-us" />

    <script type="text/javascript" src="{% url static 'javascript/jquery-1.4.2.min.js' %}" ></script>
    <script type="text/javascript" src="{% url static 'javascript/myjscript.js' %}" ></script>
    <script type="text/javascript" src="{% url static 'javascript/jquery.tools.min.js' %}" ></script>
    <script type="text/javascript" src="{% url static 'javascript/jquery.validate.js' %}" ></script>
    <link rel="stylesheet" href="{% url static 'css/manage/base.css' %}" type="text/css" >

	{% block  js_css_include %}
	{% endblock %}
    
    <title>{% block title %} {% endblock %}</title>

</head>
<body>

    <!-- Header Content -->
    <!--{% include "header.html" %}    -->


  {% block content %}
  {% endblock %}			


    <!-- Footer content -->
    {% include "footer.html" %}							

</body>
</html>
