{% extends "manage_base.html" %}

{% block  js_css_include %}

{% endblock %}

{% block content %}
<h1>Attribute Type Management Console</h1>
<div>
  <ul>
    <li><a href="{% url manage_index %}">Home<a/></li>
    <li><a href="{% url manage_entities %}">Entity<a/></li>
    <li><a href="{% url manage_entity_types %}">Entity Type<a/></li>
    <li><a href="{% url manage_attributes %}">Attribute<a/></li>
    <li><a href="{% url manage_attribute_types %}">Attribute Type<a/></li>
  <ul>
</div>

<div class="manage-list">
  Display List:

<table>
{% for item in items %}
  <tr>
    <td>{{item.id}}</td> 
    <td>{{item.name}}</td> 
    <td>{{item.allowed_values}}</td> 
  </tr>
{% endfor %}
</table>

</div>

<button id="list-attribute-type">Display List</button>
 <button id="hide-list-attribute-type">Hide List</button>


<hr/>
<div class="manage-add">
  Add An Item:<br/>
  Name: <input name="add-name" id="add-id" value=""></input>
  Allowed Values: <input name="add-allow" id="add-allow" value=""></input>
  Description: <input name="add-description" id="add-description" value=""></input>
  <button id="add">ADD</button>

</div>


<button id="add-attribute-type">Display Add</button>
<button id="hide-add-attribute-type">Hide Add</button>


<script>
    //$("div.manage-list").hide();
    $("div.manage-add").hide();
    $("#list-attribute-type").attr("disabled","disabled");
    $("#hide-add-attribute-type").attr("disabled","disabled");

    $("#add-attribute-type").click(function(){
       $("div.manage-add").show();
       $(this).attr("disabled","disabled");
       $("#hide-add-attribute-type").removeAttr("disabled");
    
    });
    
    $("#list-attribute-type").click(function(){
       $("div.manage-list").show();
       $(this).attr("disabled","disabled");
       $("#hide-list-attribute-type").removeAttr("disabled");
    });

    $("#hide-add-attribute-type").click(function(){
       $("div.manage-add").hide();
       $(this).attr("disabled","disabled");
       $("#add-attribute-type").removeAttr("disabled");
    });
    $("#hide-list-attribute-type").click(function(){
       $("div.manage-list").hide();
       $(this).attr("disabled","disabled");
       $("#list-attribute-type").removeAttr("disabled");
    });
</script>
{% endblock %}
