<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html dir="ltr" xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>	
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>CollectiveVIP</title>
<link rel="stylesheet" href="/simpz/site_media/blueprint/screen.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="/simpz/site_media/blueprint/print.css" type="text/css" media="print">	
<!--[if lt IE 8]><link rel="stylesheet" href="blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->

<link rel="stylesheet" type="text/css" href="/simpz/site_media/analytics/base.css">
<link rel="stylesheet" type="text/css" href="/simpz/site_media/analytics/header.css">
<link rel="stylesheet" type="text/css" href="/simpz/site_media/analytics/content.css">

<script type="text/javascript" src="/simpz/site_media/jquery-1.4.2.min.js" ></script>	
<script src="http://www.google.com/jsapi" type="text/javascript"></script> 
</head>
<body>
<div id="wrapper">
	<div class="container">
		<div id="header" class="span-24 last">
					<div id="links" class="span-7 prepend-15 last"><a href="#">Get CollectiveVIP</a> &nbsp;&nbsp; <a href="#">How it Works</a> &nbsp;&nbsp; <a href="#">Contact</a></div>
		</div>
			
		<!-- Title -->
		<div class="span-24 last">
			<div id="title">JohnChow.com</div>
		</div>
		
		<!-- Top Pic -->
		<div id="top" class="span-24 last">
			<!-- Nav bar -->
			<div id="panelNav" class="span-24 last">
				<div id="selectDiv" class="span-19">
					<span>Campaign: </span><span id="selectCampaign">BlogWorld</span>
				</div>
				<div id="dateDiv" class="span-5 last">
					<span>Date: </span><span id="selectDate">06/07 - 06/07</span>
				</div>
			<!-- Nav bar end-->
			</div>
			<!-- Impressions pic -->
			<div id="topPic" class="span-24 last">
				<div id="topTitle">Total Impressions 1234567</div>
				<img src="/simpz/site_media/images/analytics/chart.png">
			</div>			
			<div id="botPic" class="span-24 last">
				<div id="botTitle">Breakdown of Sources</div>
				<div id="botLeftPic" class="span-18">
					<img src="/simpz/site_media/images/analytics/chart2.png">
				</div>
				<div id="botRightPic" class="span-6 last">
					<img src="/simpz/site_media/images/analytics/chart3.png">
				</div>
			</div>
		</div>
		<!-- Mid Pic -->
		<div id="mid" class="span-24 last">
			<div class="span-12" id="influencers">
				<div id="influenceTitle">
					Top Influencers
				</div>
				<span class="userRow">
					<span class="profilePic">
						<img src="http://a1.twimg.com/profile_images/647375070/profile_mike_normal.png">
					</span>
					<span class="name">
						Mike Preshman
					</span>
					<span class="dReach">
						<span>632</span><BR>
						Direct Reach
					</span>
					<span class="influence">
						<span>17</span><BR>
						Influence
					</span>
					<span class="follow">
						<img src="/simpz/site_media/images/analytics/follow.png">
					</span>
				</span>
				<BR><BR><BR><BR>
				<span class="userRow">
					<span class="profilePic">
						<img src="http://a3.twimg.com/profile_images/844712887/37CuteGirlOnWebcam_normal.jpg">
					</span>
					<span class="name">
						Mike Preshman
					</span>
					<span class="dReach">
						<span>632</span><BR>
						Direct Reach
					</span>
					<span class="influence">
						<span>17</span><BR>
						Influence
					</span>
					<span class="follow">
						<img src="/simpz/site_media/images/analytics/follow.png">
					</span>
				</span>
				
				<BR><BR><BR><BR>
				<span class="userRow">
					<span class="profilePic">
						<img src="http://a1.twimg.com/profile_images/647375070/profile_mike_normal.png">
					</span>
					<span class="name">
						Mike Preshman
					</span>
					<span class="dReach">
						<span>632</span><BR>
						Direct Reach
					</span>
					<span class="influence">
						<span>17</span><BR>
						Influence
					</span>
					<span class="follow">
						<img src="/simpz/site_media/images/analytics/follow.png">
					</span>
				</span>

				<BR><BR><BR><BR>
				<span class="userRow">
					<span class="profilePic">
						<img src="http://a3.twimg.com/profile_images/844712887/37CuteGirlOnWebcam_normal.jpg">
					</span>
					<span class="name">
						Mike Preshman
					</span>
					<span class="dReach">
						<span>632</span><BR>
						Direct Reach
					</span>
					<span class="influence">
						<span>17</span><BR>
						Influence
					</span>
					<span class="follow">
						<img src="/simpz/site_media/images/analytics/follow.png">
					</span>
				</span>
				
			</div>
			<div class="span-12 last"></div>
		</div>
		<!-- Bot Pic-->
		<div id="bot" class="span-24 last">
		</div>
	<!-- End container-->
	</div>
<!-- End wrapper-->
</div>	

<script> 
      google.load("visualization", "1", {packages:["table", "piechart", "corechart"]});
      google.setOnLoadCallback(drawGraphs);

      function drawTable() {
        var data_table = new google.visualization.Table(document.getElementById('table_analytics_data'));
		$.ajax({
			url: '/analytics/ajax/analytics_data?event={{event.id}}', 
			dataType: "json",
			data: {},
			success: function(data) {
				var json_data = new google.visualization.DataTable(data.data, 0.5);
		        data_table.draw(json_data, {showRowNumber: true});
			},
			beforeSend: function() {
			
			}
		}); 

      }

	function drawPie() {
		var data_table = new google.visualization.PieChart(document.getElementById('pie_sources'));
		$.ajax({
			url: '/analytics/ajax/analytics_sources_pie?event={{event.id}}', 
			dataType: "json",
			data: {},
			success: function(data) {
				var json_data = new google.visualization.DataTable(data.data, 0.5);
		        data_table.draw(json_data, {title: "Network DataSource Breakdown", is3D: true});
			},
			beforeSend: function() {
			
			}
		});		
	}

	function drawDateColumn(){
		
  		// Create and draw the visualization.
  		var data_table = new google.visualization.ColumnChart(document.getElementById('date_column_chart'));
		$.ajax({
			url: '/analytics/ajax/analytics_date_range?range_type=weeks&range_duration=10&event={{event.id}}', 
			dataType: "json",
			data: {},
			success: function(data) {
				var json_data = new google.visualization.DataTable(data.data, 0.5);
				data_table.draw(json_data,
		           	{title : "Share Date Distribution", 
		            	width:1400, height:600,
		            	hAxis: {title: data.range_type_label, titleColor: "red"}}
		      		);
			},
			beforeSend: function() {
			
			}
		});
	}

	function drawGraphs() {
		drawTable();
		drawPie();
		drawDateColumn();
	}
    </script> 
     <br/><br/>
	 <H1>Date Distribution</H1>
	 <div id="date_column_chart"></div>
	 <H1>Breakdown of Sources</H1>
	 <div id="pie_sources" style='height:300px;'></div>
     <H1>User Shares</H1> 
    <div id="table_analytics_data"></div> 
    <br/>
	<br/>
</body>
</html>
