<script type="text/javascript" src="{% url static 'javascript/jquery-ui-1.8.1.custom.js' %}"></script>
<script type="text/javascript" src="{% url static 'javascript/jquery.ui.datepicker.js' %}"> </script>
<script type="text/javascript" src="{% url static 'javascript/jquery.timePicker.js' %}"> </script>
<script type="text/javascript" src="{% url static 'javascript/ajaxfileupload.js' %}"> </script>
<script type="text/javascript" src="{% url static 'javascript/jquery.validate.js' %}"> </script>
<script type="text/javascript" src="{% url static 'javascript/myjscript.js' %}"> </script>
<script type="text/javascript" src="{% url static 'javascript/jquery.showLoading.js' %}" ></script>	

<link rel="stylesheet" href="{% url static 'css/showLoading.css' %}" type="text/css" />	
<link rel="stylesheet" href="{% url static 'css/calendar-system.css' %}" type="text/css" >
<link rel="stylesheet" href="{% url static 'css/calendar-en.css' %}" type="text/css" >
<link rel="stylesheet" href="{% url static 'css/jquery.calendar.css' %}" type="text/css" >
<link rel="stylesheet" href="{% url static 'css/jquery.ptTimeSelect.css' %}" type="text/css" >	
<link type="text/css" href="{% url static 'css/jquery-ui-1.8.1.custom.css' %}" rel="Stylesheet" />


<link rel="stylesheet" href="{% url static 'css/campaign_admin.css' %}" type="text/css" />
<link rel="stylesheet" href="{% url static 'css/create.css' %}" type="text/css" />
<link rel="stylesheet" href="{% url static 'css/campaign_edit.css' %}" type="text/css" />
