/*******************************/
/**** absolute positioning  ****/
/*******************************/
#header #invite-button-div, #header #dets, #header #links, #user-logo
{
	position: relative;
}
#main, #header
{
	background-image: url(../images/look/body-bg.png);
}
#header, #container
{
/*	height: 616px; */
	position: relative;
}
#container
{
	margin: auto;
}
/* Content Stuff (below header, above iframe) */

#content
{
	width: 980px;
}
#content #badge{

        #-moz-border-radius: 10px;
	-webkit-border-radius: 0px 0px 5px 5px;
	#border: 1px solid #a9a9a9;
	box-shadow: 0 0 10px #000000;
	#-moz-box-shadow: 0 0 10px #000000;
	-webkit-box-shadow: 3px 3px 10px #000000;
	#position: relative;
	#margin-left: 6px;
	
	cursor: pointer;
	#top: 153px;
	#width: 455px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;

	background-color: #E9E9E9;
	float: left;
	width: 469px;
	height: 220px;

	font-size: 30px;
	color: red;
	
	}
#content-main h2
{
	color: #7a7a7a;
	font-size: 1.4em;
	padding-bottom: 0;
	text-transform: uppercase;
}
#header h1
{
	height: 115px;
	left: 386px;
	top: 121px;
	width: 321px;
}
#header #links
{
	position: relative;
	color: #581e92;
	padding-right: 40px;
	right: 5px;
	top: 5px;
	font-size:12px;
	font-weight: bold;
}
h1 {
   font-size: 40px;
}
#invite-button-div
{
	#-moz-border-radius: 10px;
	-webkit-border-radius: 0px 0px 5px 5px;
	#border: 1px solid #a9a9a9;
	box-shadow: 0 0 10px #000000;
	#-moz-box-shadow: 0 0 10px #000000;
	-webkit-box-shadow: 3px 3px 10px #000000;
	position: relative;
	margin-left: 6px;
	
	cursor: pointer;
	padding-top: 6px;
	top: 153px;
	width: 455px;
	#height: 32px;
	height: 105px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;

	background-color: green;
}
#greeting
{
	position: relative;
	font-size: 16px;
	color: #444;
	width: 422px;
	left: 16px;
	top: 21px;
}
#greeting #status
{
	font-size: 14px;
	font-weight: bold;
	padding-top: 2px;
	color: #444;
	float: right;
}
#invitemsg
{
	font-size: 36px;
	color: #fff;
	width: 450px;
	padding: 0px 9px 0px 10px;
	top: 224px;
	font-weight: bold;
	text-align: center;
}
#pick-msg{
	font-size: 14px;
	text-align: center;
	padding: 15px 10px 0px 10px;
	}
##dets
#{
#	background-image: url(../images/look/ptop.png);
#	background-repeat: no-repeat;
#	height: 467px;
#	width: 475px;
#	left: 487px;
#	top: 149px;
#}
##detsbg {
#    background-image: url(../images/look/pmid.png);
#    background-repeat: repeat-y;
#    margin-top:7px;
#}
##detsfooter {
#	/* background-image: url(../images/look/pbot.png); */
#	background-repeat: no-repeat;
#	height: 46px;
#}
##detsbg > p, #detsbg > div{
#    padding: 15px 33px 5px 33px;
#    font-size: 14px;
#    line-height: 1.5em;
#    color: #444;
#}
##header #dets #event-title
#{
#	padding-top: 33px;
#	padding-left: 30px;
#	font-size: 24px;
#	font-decoration: bold;
#	color: #444;
#}
#header #dets #info
{
	padding-top: 26px;
	padding-left: 33px;
	font-size: 15px;
	font-weight: bold;
	width: 419px
        color: #444;
}
#header #dets #info #right
{
	float: right;
}
#header #dets #goog
{
	padding-top: 15px;
	padding-left: 33px;
}
#header #dets #goog img
{
border:1px solid #ccc;
}

#eventinfo
{
	background-image: url(../images/info-bg.png);
	background-repeat: no-repeat;
	height: 62px;
	width: 410px;
	left: -1px;
	position: absolute;
	top: 376px;
	padding: 25px 33px 15px 24px;
	color: #444;
	font-size: 14px;
}
#attendees
{
	float: right;
	background-image: url(../images/look/attendees.png);
	background-repeat: no-repeat;
	height: 230px;
	width: 466px;
	overflow: auto;
}
#attendees #msg
{
	font-weight: bold;
	color: #444;
	font-size: 15px;
	margin: 20px 0 0 22px;
	overflow: auto;
}
#ifra {height: 400px; 
       margin-top: 50px; 
       border:2px double #0074A0;
}

iframe {
	height: 100%;
}

img
{
	border: 0;
	text-decoration: none;
}
#user-logo{
	top: 62px;
	left: 0px;
	}


