/*******************************/
/**** absolute positioning  ****/
/*******************************/
#header #invite-button, #header #greeting, #header #dets, #header #attendees, #header #invitemsg, #header #attendees #msg, #header #links, #user-logo
{
	position: absolute;
}
#main, #header
{
	background-image: url(../images/look/body-bg.png);
}
#header
, #header #f
{
	height: 616px;
	position: relative;
}
#header #f
{
	background: url(../images/look/centerboard.png) center top no-repeat;
	width: 980px;
}
#header h1
{
	height: 115px;
	left: 386px;
	top: 121px;
	width: 321px;
}
#header #links
{
	color: #581e92;
	left: 707px;
	top: 12px;
	font-size:12px;
	font-weight: bold;
}
#header #invite-button
{
	top: 330px;
	width: 460px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
}
#header #greeting
{
	font-size: 16px;
	color: #444;
	width: 422px;
	left: 23px;
	top: 173px;
}
#header #greeting #status
{
	font-size: 14px;
	font-weight: bold;
	padding-top: 2px;
	color: #444;
	float: right;
}
#header #invitemsg
{
	font-size: 36px;
	color: #fff;
	width: 458px;
	padding: 0px 8px 0px 8px;
	top: 224px;
	font-weight: bold;
	text-align: center;
}
#pick-msg{
	font-size: 14px;
	text-align: center;
	padding: 15px 10px 0px 10px;
	}
#header #dets
{
	background-image: url(../images/look/ptop.png);
	background-repeat: no-repeat;
	height: 467px;
	width: 475px;
	left: 487px;
	top: 149px;
}
#detsbg {
    background-image: url(../images/look/pmid.png);
    background-repeat: repeat-y;
    margin-top:7px;
}
#detsfooter {
	/* background-image: url(../images/look/pbot.png); */
	background-repeat: no-repeat;
	height: 46px;
}
#detsbg > p, #detsbg > div{
    padding: 15px 33px 5px 33px;
    font-size: 14px;
    line-height: 1.5em;
    color: #444;
}
#header #dets #event-title
{
	padding-top: 33px;
	padding-left: 30px;
	font-size: 24px;
	font-decoration: bold;
	color: #444;
}
#header #dets #info
{
	padding-top: 26px;
	padding-left: 33px;
	font-size: 15px;
	font-weight: bold;
	width: 419px
        color: #444;
}
#header #dets #info #right
{
	float: right;
}
#header #dets #goog
{
	padding-top: 15px;
	padding-left: 33px;
}
#header #dets #goog img
{
border:1px solid #ccc;
}

#eventinfo
{
	background-image: url(../images/info-bg.png);
	background-repeat: no-repeat;
	height: 62px;
	width: 410px;
	left: -1px;
	position: absolute;
	top: 376px;
	padding: 25px 33px 15px 24px;
	color: #444;
	font-size: 14px;
}
#header #attendees
{
	background-image: url(../images/look/attendees.png);
	height: 234px;
	width: 466px;
	left: -1px;
	top: 476px;
	overflow: auto;
}
#header #attendees #msg
{
	font-weight: bold;
	color: #444;
	font-size: 15px;
	left: 24px;
	top: 20px;
	overflow: auto;
}
#content
{
	background: #fff;
}
#content-main h2
{
	color: #7a7a7a;
	font-size: 1.4em;
	padding-bottom: 0;
	text-transform: uppercase;
}
img
{
	border: 0;
	text-decoration: none;
}
#user-logo{
	top: 62px;
	left: 0px;
	}