body {
        text-align: center;
	overflow-y: hidden;
}

span#discount-error-message {
    color: red;
}

span#discount-success-message {
    color: blue;
}

div.create li {
   margin-top: 40px;
}

label {
      font-size: 20px;
      margin-bottom: 10px;
      font-weight: bold;
}
