body {
        font-family:Constantina,Georgia,'Nimbus Roman No9 L',serif;
}

div#create-thanks {

		  position: relative;
/*		  top: 170px;
		  left: 30px; */
}

div#create-thanks p{

		  font-size: 30px;
		  margin: 65px 0px 140px 40px;
		  color: #333;

}




div#create-event label {
		 font-size: 18px;
		 font-weight: bold;
}


div.create {
    padding: 20px;		  
    text-align: left;
    width: 90%;
    background-color: white;
    #background-color: #eee;
    margin: auto;
    border: 2px solid #CCC;

    -moz-border-radius-topleft: 20px;
    -webkit-border-top-left-radius: 20px;
    -moz-border-radius-topright: 20px;
    -webkit-border-top-right-radius: 20px;

    -moz-border-radius-bottomleft: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    -webkit-border-bottom-right-radius: 20px;
    margin-bottom: 30px;
    margin-top: 60px;
   
   -moz-box-shadow: 10px 10px 10px #999;
   -webkit-box-shadow: 10px 10px 10px #999;		
}

div#update-campaign input[type=text] {
      text-align: center;
      color: black; 
      font-weight: bold;
      font-size: 18px;
}

div#update-campaign textarea {
      text-align: center;
      color: black; 
      font-weight: bold;
      font-size: 18px;
}

div#email-admin-details {
text-align: center;
font-size: 40px;
}

#email_address {
font-size: 25px;
width: 500px;
}

button#email-button {
font-size: 20px;
height: 40px;		     		    
}

#campaign_url {
	      font-size: 30px;
	      text-align: center;
              color: #E0E0E0; 
              font-weight: bold;

	      width: 65%;
	      height: 50px;
              margin: 0 20px 130px 0;
}
#create-button {
	       height: 40px;
	       width: 15%;
	       margin: 0 0 130px 20px;
}

div#create-campaign {
	margin-top: 0px;
}


div.create li {
	   list-style: none;
           padding: 10px;
	   margin: 0;	
}

div.create li:hover {
background-color: #c9edf3;
}

div.create h1 {
	   text-align:center;
		  font-size: 45px;
		  margin: 0px 0px 40px 0px;
		  color: #333;
}

div.create h4 {
         color: silver;
	 font-size: 18px;
	  margin: -30px 0px 15px 0px;
}

div#address_map {
		height: 400px;
		width: 400px;
}

div#choose-create-entity {
     height: 160px;
     text-align: center;
     margin-top: 10px;
}


div#map_container {
		  float:right;
margin-right: 100px;	
background-color:gray;
padding: 20px;
}

div#address_container {
     float:left;	          
     margin-left: 150px;
}
#stuff_container {
		 margin-top: 100px;
		 height: 600px;
}

div.image_preview {
	width: 200px;
	height: 200px;
	border: 1px solid #000;
	text-align: center;
}
div.image_preview  img{
	width: 200px;
	height: 200px;
}


div.time-picker {
  position: absolute;
  height: 200px;
  width:11em; /* needed for IE */
  overflow: auto;
  background: #fff;
  border: 1px solid #000;
  z-index: 99;
}
div.time-picker-12hours {
  width:11em; /* needed for IE */
}

div.time-picker ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
div.time-picker li {
  padding: 1px;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
}
div.time-picker li.selected {
  background: #316AC5;
  color: #fff;
}

#createForm li:hover {
  background-color: #e5f2ff;
}

input[type=text] {
      text-align: center;
      color: #E0E0E0; 
      font-weight: bold;
}

textarea {
     text-align: center;
      color: #E0E0E0; 
}

#preview-sign {
background-color:#ddd;
padding: 5px 0px 5px 30px;
border: 1px solid #000;
width: 97.2%;
margin: auto;
margin-top: 50px;

    -moz-border-radius-topleft: 18px;
    -webkit-border-top-left-radius: 18px;
    -moz-border-radius-topright: 18px;
    -webkit-border-top-right-radius: 18px;

}



div#campaign-choice-wrapper {
    #background-color: #b0e8dd;
    border: 2px solid gray;
    width: 70%;
    height: 200px;
    margin: auto;
}

div#campaign-choice-wrapper img {
     height: 180px;
     width: 200px;
     margin: 8px;     
}

div#inner-campaign-choice-wrapper {
   width: 66%;
   height: 200px;
   background-color: white;	
   float: left;
}

div#discount-selection {
    background-color: white;
    height: 180px;
    padding: 10px;
    float: left;
    width: 47%%;
}



div#make-selection {
    background-color: white;
    width: 43%;
    float: right;
    padding: 10px;
    height: 180px;
}
div#raffle-selection {
    background-color: white;
    width: 31%;
    float: right;
    padding: 10px;
    height: 180px;
}