.data-content {
height: 350px;
background-color: white;
margin: auto;
padding: 0;
overflow: hidden;
}

h3 a{
   font-weight: bold;
}

.dates {
    margin-bottom: 20px;
}

#line-chart-totalshares, #line-chart-totalreach, #line-chart-campaignscreated, #line-chart-campaignsmodified {
	width: 60%;
	border: 1px solid black;
	height: 200px;
	float: left;
}

#pie-chart-totalshares, #pie-chart-totalreach, #pie-chart-campaignscreated, #pie-chart-campaignsmodified {
	border: 1px solid black;
	height: 200px;
	float: right;
}

button {
       float: right;
       cursor: pointer;
}

ul {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 15px;
}

li {
list-style-type:none; 
display: inline;
padding: 5px 20px 5px 20px;
border-right: 1px solid black;
}
li:last-child {
border-right: 0px solid black;
}

li:hover {
    background-color: #cccccc;
    cursor: pointer;
}

