* {margin:0; padding:0}

body {
     padding: 0px 0px 0px;
     color: #695d47;
     font-family: verdana, arial, sans-serif;
     font-size: 12px;
     text-align: center;
}    

a {
  color: #695d47;
  background-color: inherit;
  #text-decoration: underline;
}

a:hover {
	color: #ab9c7e;
	background-color: inherit;
}

span {
     display: none;
}

img {
    border: none;
}

ul {
   list-style-type: none;
   
}

li {
   list-style-type: none;
}

p {
  margin: 0px 0px 15px;
  text-align: justify;
  line-height: 15px;
  color: red
}

#body_wrapper {
	      padding: 5px 0px 10px;
	      width: 100%;
	      background-color: #fff;
	      color: inherit;
}

#body_header{
	background: url('../images/background_top.gif') #c4b8a1 repeat-x;
        height: 80px;

}

div#body_header h1{
	text-align:center;
	font: 4em bold;
	margin-right: auto; margin-left:auto;
	padding-top: 12px;
	width:16em;
	#border-top:2px solid #069;
	#border-bottom:1px solid #069;
}


#sidebar {
	 
	 float: left;
	 background-color: white;
	 margin:0 0px 4px 0;
	 width: 200px;
	 height: 500px;
	 border-right: 2px solid brown;
	 border-bottom: 1px solid brown;	     
	 font-size: 10px;
}

div#sidebar a{
	 color: brown;
	 font-size: 2em;	     
}

div#sidebar li{
	 padding-top: 10px;	     
}


#content {
	 float: left;
	 background-color: white;
	 height: 500px;
	 width: 500px;
	 margin:0 4px 4px 0;
}

div#content a{
	    font-size: 1.6em;	
}




/* Page Footer */

#page_footer {
	     padding: 9px 10px 6px;
	     font-weight: bold;
	     float: none;
	     clear: both;
}

#page_footer a:hover {
	     background-color: inherit;
	     color: #4f4635;
}
