
* {
  margin: 0;
}

html, body {
    height: 100%;
}

body{
	font-family: helvetica,arial,sans-serif;
}

#container {
    position:relative;
   /* min-height:100%; 
    _height:100%;/*  /* for IE6 as it doesnt understand min-height */
}

#footer {
    position: relative;
   	margin-top:10px;
   font-size: 16px;
   text-align: center;
}

#main, #header
{
	background-image: url(../images/look/body-bg.png);
}
#main{
	padding-bottom: 300px;
}
#header
{
	position: relative;
	height: 54px;
}
#header #logo
{
	float: left;
	padding-left: 40px;
	position: relative;
}
#content
{
	position: relative;
	width: 980px;
	margin: auto;
	padding-bottom: 10px;
}

#header-container{
        position: relative;	
	width: 980px;
	margin: auto;
	padding-bottom: 10px;
}

#header #links
{
	float: right;
	color: #581e92;
	width: 300px;
	text-align: right;
	padding: 12px 40px 0px 12px;
	top: 12px;
	font-size:12px;
	font-weight: bold;
}
#header #links a:link {text-decoration: none; color: #581e92;}
#header #links a:visited {text-decoration: none; color: #581e92;}
#header #links a:active {text-decoration: none; color: #581e92;}
#header #links a:hover {text-decoration: none; color: #581e92;}

