#chartArea{
	width: 300px;
}

	/* Name of site */
#title{
	color:#581E92;
	font-size:24px;
	font-weight:normal;
	margin-bottom: 20px;
}
/* div that contains the impression, breakdown, and pie charts */
#top {
	
}
/* Panel to select Campaign and Date */
#panelNav {
	padding: 0px 10px 0px 10px;
}
/* div to select Campaign, div to select date */
#selectDiv, #dateDiv{
	padding: 0px 0px 0px 0px;
	font-size: 16px;
	font-weight:normal;
}
#selectCampaign, #selectDate {
	padding: 5px 5px 5px 5px;
	border: 1px solid #ccc;
}
/* div for impressions chart, breakdown chart */
#topPic, #botPic{
	margin: 15px 10px 10px 10px;
	border: solid 1px #ccc;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

#date_column_chart{
/*	padding-right: 65px;
	margin: 15px 10px 10px 10px;
	border: solid 1px #ccc;*/
	height: 210px;
	width: 900px;
/*	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;*/
}

/* title for impressions chart, breakdown chart */
#topTitle, #botTitle, #influenceTitle {
	padding: 5px 5px 5px 5px;
	margin-bottom: 10px;
	font-size: 16px;
	font-weight:normal;
}
#influenceTitle {
	padding: 5px 5px 5px 0px;
	margin-bottom: 10px;
	font-size: 16px;
	font-weight:normal;
}
#botPic img{
	margin: 0px 10px 10px 10px;
}

#chartArea{
/*	padding-right: 65px;
	margin: 15px 10px 10px 10px;
	border: solid 1px #ccc;*/
	height: 210px;
	width: 900px;
/*	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;*/
	}

/* Influencer Table */
#table_analytics_data{
	width: 100%;
	}