{% extends "lanyard_base.html" %}

	{% block  js_css_include %}
	{% endblock %}

{% block title  %}
{{event.name}}
{% endblock %}


{% block lanyardHeader %}
<div id="greeting" class="span-6">Hi {{user.name}}!</div>
<div id="status" class="span-5 last">
     <img src="/simpz/site_media/images/look/gr.png">

</div>
{% endblock %}

{% block lanyardBody %}
<div id="invitemsg" class="span-6">Find out who's going and meet more people</div>
<div id="invite-button" class="span-5 last">
      <a href='#' id="invite_button" rel="#invite_popup"><img src="/simpz/site_media/images/look/button.png"></a>
</div>
{% endblock %}

{% block rightMid %}
<div id="attendees"><div id="msg">Current Guest List</div></div>
{% endblock %}

{% block paperHeader %}
<div id="event-title">Affiliate Summit 2010</div>
{% endblock %}

{% block paperBody %}
<div id="info">
  <img src="/simpz/site_media/images/look/map-ico.png"> Marriot, Austin 
  <div id="right">Tuesday, June 8, 2010 @ 1:30PM <img src="/simpz/site_media/images/look/cal-ico.png"></div>
  <div id="goog"><img src="/simpz/site_media/images/look/map.png"></div>
</div>
{% endblock %}








