{% extends "event_base.html" %}

	{% block  js_css_include %}
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key={{map_key}}" type="text/javascript" > </script>
	{% endblock %}


{% block title  %}
{{event.name}}
{% endblock %}


{% block content %}
<!-- Content starts here -->
<div class="span-12">

{%if user%}

  {% if going %}
      <div class="headernote">
      <h1 ckass="header_name"> hello {{user.name}}!</h1>
	<div id="header_msg" class="quiet"><font size = 4.5em>You are planning to go to this event.</font></div>
	<BR>
	  
	<input id="not_going_button" type="submit" class="button" value="Can't make it" > &nbsp; &nbsp;
	<button href="#" id="invite_button" class="button2" rel="#invite_popup">Invite Friends!</button>
	
	  
      </div>
  {% else %}
      <div class="headernote">
       	<h1 class="header_name">hello {{user.name}}!</h1>
      	<div id="header_msg" class="quiet"><font size = 4.5em>you and your friends are 19 points away from a prize</font></div>
	<BR>
	  
	<input id="going_button" type="submit" class="button" value="Count me In!"> &nbsp; &nbsp;
	<button href='#' id="invite_button" class="button2" rel="#invite_popup">Tell Friends</button>
      </div>
  {% endif%}
{% else %}
      <div class="headernote">
      	<h1 class="header_name">Hello There!</h1>
	<div id="header_msg" class="quiet"><font size = 4.5em>There are {{event.num_attendees}} attending this event.</font></div>
	<BR>
	  
	<input id="login_button" type="submit" class="button" value="Login: See if your friends are going." onClick="location.href='/simpz/login/'"> &nbsp; &nbsp;
      </div>
{% endif%}

<div id="description_box">
Description: {{event.description}}
</div>

{% if from_user %}

<div id="refer_info_box">
You have been Invited by {{from_user.name}} &nbsp;&nbsp;<img src="{{from_user.profile_pic}}" />
</div>

{% endif %}

<!-- This is the Invite popup code -->
<div id="invite_popup" class="simple_overlay">

    

    <ul class="tabs">
       <li><a href="#">Twitter</a></li>
       <li><a href="#">Facebook</a></li>
       <li><a href="#">Email</a></li>
    </ul>


    <!-- tab "panes" -->
    <div class="panes">
      <div>
        <div class="twitterfriends">
          <div id="tweet_title"><input type="text" id="tweet_text" maxlength="140" size="45"></input><button id="tweet_invite_button">Tweet Invite</button></div>
          <div id="tweet_msg"></div>
	  <a href="#" class="select_all_arrow"><img class="select_all_arrow" src="/simpz/site_media/images/arrow-down.gif"></img></a>
	  <hr  class="horizontal_line "/>
          <div id="twitlist"><img src="/simpz/site_media/images/ajax-loader.gif" /></div>
        </div>
        
        <BR />
        <input id="invite_dm_button" type="submit" class="button" value="Invite my friends" />
      </div>
    
    
      <div>Second tab content</div>
    
      <div>Third tab content</div>
    </div>
      
    </div>
    
    
    <BR />
		
<div class="yourprice">
  {% if going %}
  You Paid:
  {% else %}
  Your Price: 
  {% endif %}

  <font color=#9cb926>${{event.discount_price}}</font></div>
<div class="genprice">General Price: <font color=#ff8a00>${{event.price}}</font></div>
	
<BR /><BR /><BR />

<div class="attending">Attendees <font class="quiet">(<b>{{event.spots_left}}</b> Spots Left out of <b>{{event.capacity}}</b>!)</font></div>
		    
      <div class="attenddees">
{% for attendee in attendees %} 


<a href="#">
<img src="{{attendee.profile_pic}}" /> 
</a>
&nbsp;



{% endfor %}
      </div>

</div>
		
<div class="span-1">&nbsp;</div>		  
<div class="span-11 last">
	      
  <div id="visual_img" style="width: 400px; height: 500px;">
    <img class="center" style="width: 400px; height: 500px;" src="/simpz/site_media/images/events/{{event.id}}" />
  </div>

  <div id="visual_map" style="width: 400px; height: 500px;" > </div>						
	      
  <div id="title">
    <a href="{{event.url}}" target="_blank" class="no_underline">{{event.name}}</a> 
  </div>
  <div id="details">
    {{event.venue}}, {{event.venue_address}}
    <br/><a id="show_map" class="button no_underline" href="#"></a>
    <br />{{event.time}} 
  </div>
</div>





<script>
$(document).ready(function() {

	$("#invite_popup_close").bind('click', function() {
		$('#invite_popup').hide();
                $('#tweet_msg').html("");
		ajax_loader_image();
	 });


	$("#not_going_button").click(function(){
		$.get('/simpz/ajax/event_not_going/{{event.id}}', function(data) {
			location.reload();
		    });
	    });
			
	$("#going_button").click(function(){
		$.get('/simpz/ajax/event_going/{{event.id}}', function(data) {
			location.reload();
		    });
	    });

       $("#tweet_invite_button").click(function(){
		$.ajax({
                    url: '/simpz/ajax/event_tweet_invite/{{event.id}}', 
                    dataType: "json",
                    data: {data: $("#tweet_text").val(), 
                    invite_url: '{{invite_url}}',
                    invite_id: {{invite_id}}
                          }, 
                    success: function(data){
                        $("#tweet_msg").html("Tweet Sent Succesfully");
                        $("#tweet_text").val(data["msg"]);
	        	     },
                    beforeSend: function() {
                        //$("#tweet_invite_button").attr("disabled","disabled");                               
                        $("#tweet_msg").html("<img width='20' height='20' src='/simpz/site_media/images/ajax-loader.gif' />Sending Tweet<img width='20' height='20' src='/simpz/site_media/images/ajax-loader.gif' />");
                    }
                   });
	    });

	$("#invite_button").overlay(
				    {
					expose: {
					    loadSpeed: 200,
						color: 'gray',
						opacity: 0.8
						},
					onLoad: function(event) {
                                                $("#tweet_msg").html("");
                                                $("#tweet_text").val("TEST: Discounted Invite to my Friends.");
                                                $("#tweet_invite_button").removeAttr("disabled");
						//display_friends_invite();
                                                                                                
					}
				    }); 

        $('#invite_dm_button').click(function() {
            var selected_users = [];

            $("input[name='invitee']").each(function(index) {
                 if ($(this).attr("checked")) { 
                     selected_users.push($(this).val());
                 } 
            });
           
            $.ajax({
                    url: '/simpz/ajax/event_tweet_invite_dm/{{event.id}}', 
                    dataType: "json",
                    data: {data: $("#tweet_text").val(), 
                    invite_url: '{{invite_url}}',
                    invite_id: '{{invite_id}}',
                    invited_friends: selected_users.toString(),
                          }, 
                    success: function(data){
                        $("#tweet_msg").html("Tweets Sent Succesfully");
                        $("#tweet_text").val(data["msg"]);
                        $("#invite_dm_button").removeAttr("disabled");                      
	        	     },
                    beforeSend: function() {
                        $("#invite_dm_button").attr("disabled","disabled");                      
                        $("#tweet_msg").html("<img width='20' height='20' src='/simpz/site_media/images/ajax-loader.gif' />Sending Direct Msg Tweets<img width='20' height='20' src='/simpz/site_media/images/ajax-loader.gif' />");
                    }
                   });
        });
			
    
	$("#visual_map").hide();
	$("#show_map").html("(Show Map)");


	if (GBrowserIsCompatible()) {
	    var map = new GMap2(document.getElementById("visual_map"));
	    map.setCenter(new GLatLng({{event.lat}}, {{event.lng}}), 13);
	    map.setUIToDefault();
	}			


	$("#show_map").click(function() {

		if ($("#visual_img").is(":visible")) {

		    $("#visual_img").hide(500);
			
		    $("#visual_map").show(500, function() {
			   
			    if (GBrowserIsCompatible()) {
				var map = new GMap2(document.getElementById("visual_map"));
				map.setCenter(new GLatLng({{event.lat}}, {{event.lng}}), 13);
				map.setUIToDefault();
			    }
			});
		

		    $("#show_map").html("(Hide Map)");
		}else {
		    $("#visual_img").show(500);
		    $("#visual_map").hide(500);
		    $("#show_map").html("(Show Map)");
		}
	    });
    });

// perform JavaScript after the document is scriptable.
$(function() {
    // setup ul.tabs to work as tabs for each div directly under div.panes
    $("ul.tabs").tabs("div.panes > div");
});


function setup_select_all_button() {
    $("a.select_all_arrow").toggle(function() {
       $(".friend_list_item").each(function(index) {
                $(this).css("background-color", "#FF9933");    
                $(this).find("input[name='invitee']").attr("checked", "yes");
                $(this).find("img.checkbox_invite").attr("src", "/simpz/site_media/images/checkbox_checked.png");
            });
    }, 
    function() {
        $(".friend_list_item").each(function(index) {
                $(this).css("background-color", "#FBF5EF");    
                $(this).find("input[name='invitee']").removeAttr("checked");
                $(this).find("img.checkbox_invite").attr("src", "/simpz/site_media/images/checkbox_unchecked.png");
        });
    });

}

function ajax_loader_image() {
    $('#twitlist').html("<img style='margin-left:275px; margin-top:40px;' width='130' height='130' src='/simpz/site_media/images/ajax-loader.gif' />");
}


function display_friends_invite_twitter() {
            $.ajax({
                    url: '/simpz/ajax/event_friend_not_attendees/{{event.id}}', 
                    dataType: "json",
                    success: function(data){
                               $('#twitlist').html(make_friend_list(data));
                               $('#tweet_msg').html("Invite Your Friends");
                                                             
                               $(".friend_list_item").toggle(function() {
                                   $(this).css("background-color", "#FF9933");    
                                   $(this).hover(function(){
                                         $(this).css("background-color", "#FF9933");
                                   },
                                   function(){
                                         $(this).css("background-color", "#FF9933");
                                   });
                                   $(this).find("input[name='invitee']").attr("checked", "yes");
                                   $(this).find("img.checkbox_invite").attr("src", "/simpz/site_media/images/checkbox_checked.png");
                               }, function() {
                                   $(this).css("background-color", "#fd9");
                                   $(this).hover(function(){
                                         $(this).css("background-color", "#fd9");
                                   },
                                   function(){
                                         $(this).css("background-color", "#FBF5EF");
                                   });

                                   $(this).find("input[name='invitee']").removeAttr("checked");
                                   $(this).find("img.checkbox_invite").attr("src", "/simpz/site_media/images/checkbox_unchecked.png");
                               });
                               setup_select_all_button(); 
	                       
	        	     },
                    beforeSend: function() {
                        $('#tweet_msg').html("Loading Friend Data");
                        ajax_loader_image();
                    }
                   });
 
}

function display_friends_invite_facebook() {
            $.ajax({
                    url: '/simpz/ajax/facebook_friends', 
                    dataType: "json",

                    success: function(data){
                        //alert(data);
	        	     },
                    beforeSend: function() {
                        
                    }
                   });
 
}


$(document).ready(function() {
// background processing
setTimeout ( "display_friends_invite_twitter()", 100 );
setTimeout ( "display_friends_invite_facebook()", 10 );
   
});

</script>
<!-- Content ends here -->
{% endblock %}












