{% extends "event_base.html" %}

{% block title %}User Details{% endblock %}

{% block content %}
<p>User Details.</p>
{% if user %}
<img src="{{user_info.profile_pic}}" /><br />
User Id: {{ user_info.id }} <br />
Username: {{user_info.username}} <br />
Email: {{user_info.email}} <br />
Name: {{user_info.name }} <br />
Twitter ID: {{user_info.twitter_id}} <br />
URL: {{user_info.url}}

<br /><br />
<input id="showfriends" type="submit" value="ShowFriends" />
<div id="friends">
  Will Display friends Here.
</div>


{% else %} 
         {% if all %}
          <p>Receiver Represental ALL Users..</p>

         {% else %}
         <p>No User logged in.</p>
         {% endif %}

{% endif %}

{% endblock %}


