<script type="text/javascript" src="{% url static 'javascript/jquery-ui-1.8.1.custom.js' %}"></script>
        <script type="text/javascript" src="{% url static 'javascript/ajaxfileupload.js' %}"> </script>
        <script type="text/javascript" src="{% url static 'javascript/jquery.uploadify.js' %}"> </script>
        <script type="text/javascript" src="{% url static 'javascript/jquery.showLoading.js' %}" ></script>

        <link rel="stylesheet" href="{% url static 'css/showLoading.css' %}" type="text/css" />
        <link type="text/css" href="{% url static 'css/jquery-ui-1.8.1.custom.css' %}" rel="Stylesheet" />
        <script type="text/javascript" src="{% url static 'javascript/jquery-ui-1.8.4.custom.min.js' %}"></script>

        <script type="text/javascript" src="{% url static 'javascript/jquery.cleditor.min.js' %}"></script>
        <link type="text/css" href="{% url static 'css/jquery.cleditor.css' %}" rel="Stylesheet" />

        <link rel="stylesheet" href="{% url static 'css/create.css' %}" type="text/css" />
        <link rel="stylesheet" href="{% url static 'css/campaign_widget.css' %}" type="text/css" />

        <script type="text/javascript" src="{% url static 'javascript/farbtastic.js' %}" ></script>
        <link rel="stylesheet" href="{% url static 'css/colorpicker/farbtastic.css' %}" type="text/css" />

