{% extends "site_base.html" %}

	{% block  js_css_include %}
	<script type="text/javascript" src="{% url static 'javascript/jquery-ui-1.8.1.custom.js' %}"></script>
	<script type="text/javascript" src="{% url static 'javascript/jquery.ui.datepicker.js' %}"> </script>
	<script type="text/javascript" src="{% url static 'javascript/jquery.timePicker.js' %}"> </script>
	<script type="text/javascript" src="{% url static 'javascript/ajaxfileupload.js' %}"> </script>
	<script type="text/javascript" src="{% url static 'javascript/jquery.uploadify.js' %}"> </script>
	<script type="text/javascript" src="{% url static 'javascript/jquery.validate.js' %}"> </script>
	<script type="text/javascript" src="{% url static 'javascript/myjscript.js' %}"> </script>
	<script type="text/javascript" src="{% url static 'javascript/jquery.showLoading.js' %}" ></script>	

	<link rel="stylesheet" href="{% url static 'css/showLoading.css' %}" type="text/css" />	
	<link rel="stylesheet" href="{% url static 'css/calendar-system.css' %}" type="text/css" >
	<link rel="stylesheet" href="{% url static 'css/calendar-en.css' %}" type="text/css" >
	<link rel="stylesheet" href="{% url static 'css/jquery.calendar.css' %}" type="text/css" >
	<link rel="stylesheet" href="{% url static 'css/jquery.ptTimeSelect.css' %}" type="text/css" >	
	<link type="text/css" href="{% url static 'css/jquery-ui-1.8.1.custom.css' %}" rel="Stylesheet" />
	<script type="text/javascript" src="{% url static 'javascript/jquery-ui-1.8.4.custom.min.js' %}"></script>
	<script type="text/javascript" src="{% url static 'javascript/jquery.cleditor.min.js' %}"></script>
	<link type="text/css" href="{% url static 'css/jquery.cleditor.css' %}" rel="Stylesheet" />

 	<link rel="stylesheet" href="{% url static 'css/create.css' %}" type="text/css" />
 	<link rel="stylesheet" href="{% url static 'css/campaign_launch.css' %}" type="text/css" />



	<script type="text/javascript" src="{% url static 'javascript/farbtastic.js' %}" ></script>	
 	<link rel="stylesheet" href="{% url static 'css/colorpicker/farbtastic.css' %}" type="text/css" />


	{% endblock %}

{% block title %}Admin Console.{% endblock %}


{% block site-content %}

<br/><br/><br/>


<div id="widget-wrapper" class="create">


<div id="widget-features">
<ul>
<li>
    <label for="height">Height:&nbsp;&nbsp; </label>
    <input type="text" value="35" size="3" name="widget-height" id="widget-height"/>&nbsp;px
  <div style="width: 160px; float: right;" id="height-slider"></div>
</li>
<li>
    <label for="width">Width:&nbsp;&nbsp; </label>
    <input type="text" value="258" size="3" name="widget-width" id="widget-width"/>&nbsp;px
  <div style="width: 160px; float: right;" id="width-slider"></div>
</li>

<li>
    <label for="widget-background-color">Background Color:&nbsp;&nbsp; </label>
    <input type="color" value="#d2f6d0" size="10" name="widget-background-color" id="widget-background-color"/>
    <button id="hide-color" style="display:none;">Hide</button>
    <div id="picker" style="display:none; border: 1px solid gray; text-alighn: center; padding-left: 50px;"></div>
</li>

<li>
    <label for="message">Message:&nbsp;&nbsp; </label>
    <textarea cols=36 rows=6 id="widget-message">{{campaign.title}}</textarea>&nbsp;&nbsp;
</li>
<li>
    <label for="widget-text-color">Text Color:&nbsp;&nbsp; </label>
    <input type="color" value="black" size="10" name="widget-text-color" id="widget-text-color"/>
    <button id="hide-color2" style="display:none;">Hide</button>
    <div id="picker2" style="display:none; border: 1px solid gray; text-alighn: center; padding-left: 50px;"></div>
</li>
<li>
    <label for="widget-text-size">Text Size:&nbsp;&nbsp; </label>
    <input type="text" value="27" size="3" name="widget-text-size" id="widget-text-size"/>&nbsp;px
  <div style="width: 160px; float: right;" id="text-size-slider"></div>
<li></li>

<li>
   <label for="widget-background-image">Background Image &nbsp;&nbsp;</label>
   <button id="widget-remove-img" style="display:none;">Remove Img</button>
   <input name="widget-background-image" id="widget-background-image" type="file"> </input>
</li>
</ul>
<button id="getcode"></button>
</div>
<div id="widget-preview">
<div id="widget"></div>
</div>

</div>

<div id="dialog" title="Embeddable Code" style="display:none;">
  <textarea id="code"></textarea>
</div>


<div id="admin_console" class="create">
Back To Admin Page: &nbsp;&nbsp;&nbsp;&nbsp;<a href="{{admin_url}}">{{admin_url}}</a><br/>
</div>
<script>



  // background image
  $("#widget-remove-img").click(function() {
  alert($("#widget-background-image").val());
      $("#widget").css({'background-image': 'none'});
            $("#widget-remove-img").hide();
  });

  $("#widget-background-image").change(function() {
            var url = "{{host}}{%url static 'images/campaign/logos/widget/'%}{{campaign.id}}";
            ajaxFileUpload("widget-background-image", function() {
                    $("#widget").css({'background-image':'url(' + url + ')'})
                }, 
                {{campaign.id}});
            $("#widget-remove-img").show();
            $("#widget-background-image").val(url);
  }); 

  $("#getcode").text("<Get Embeddable Code>");
  $("#widget").css({"height" : parseInt($("#widget-height").val()),
                   "width" : parseInt($("#widget-width").val()),
                   "background-color" : $("#widget-background-color").val(),
});
 
  // text size
  $("#widget-text-size").keyup(function(){
      $("#widget").css({'font-size' : parseInt($("#widget-text-size").val())})
      $("#text-size-slider").slider("value", parseInt($("#widget-text-size").val()));
  });
  $("#widget").css({'font-size' : parseInt($("#widget-text-size").val())})



  // height
  $("#widget-height").keyup(function(){
      $("#widget").height(parseInt($("#widget-height").val()))
      $("#height-slider").slider("value", parseInt($("#widget-text-size").val()));
  });

  // width
  $("#widget-width").keyup(function(){
      $("#widget").width(parseInt($("#widget-width").val()))
      $("#width-slider").slider("value", parseInt($("#widget-text-size").val()));
  });



  // background color 
  $('#hide-color').click(function(){
       $("#picker").slideUp('slow');
       $('#hide-color').hide();
  })
  $('#picker').farbtastic(function (color) {
     $('#widget-background-color').val(color);
     $("#widget").css({'background-color': $('#widget-background-color').val()});
  });
  
  $('#widget-background-color').click(function(){
        $("#picker").slideDown('slow');
        $('#hide-color').show(); 
  });

  // text color 
  $('#hide-color2').click(function(){
       $("#picker2").slideUp('slow');
       $('#hide-color2').hide();
  })
  $('#picker2').farbtastic(function (color) {
     $('#widget-text-color').val(color);
     $("#widget").css({'color': $('#widget-text-color').val()});
  });
  
  $('#widget-text-color').click(function(){
        $("#picker2").slideDown('slow');
        $('#hide-color2').show(); 
  });


$("#getcode").click(function(){
    $("#code").val("<a target='ripple' href='{{landing_url}}'><div style=\
'width: " + $("#widget").width() + "px; \
height: " + $("#widget").height() + "px; \
color: " + $("#widget").css('color')+ "; \
font-size: " + $("#widget").css('font-size')+ "px; \
text-align: center; \
border: 2px solid black; \
background-color: " + $("#widget").css('background-color') + ";'> \
background-image: " + $("#widget").css('background-image') + ";'> \
" + $("#widget").text() + " \
</div></a>");

 $("#dialog").dialog({
        "width": 500,
        "height": 400,
     });
});   

// text size slider
$("#text-size-slider").slider({value : $("#widget-text-size").val(),
                               min: 0,
                               max: 40,
                               range: true,
                               animate: true, 
                               slide: function(event, ui) { 
                                     $("#widget-text-size").val(ui.value);
                                     $("#widget").css({'font-size': ui.value});

                       }});

// height slider
$("#height-slider").slider({value : $("#widget-height").val(),
                               min: 0,
                               max: 600,
                               range: true,
                               animate: true, 
                               slide: function(event, ui) { 
                                     $("#widget-height").val(ui.value);
                                     $("#widget").css({'height': ui.value});

                       }});

// width slider
$("#width-slider").slider({value : $("#widget-width").val(),
                               min: 0,
                               max: 400,
                               range: true,
                               animate: true, 
                               slide: function(event, ui) { 
                                     $("#widget-width").val(ui.value);
                                     $("#widget").css({'width': ui.value});

                       }});

// message
$("#widget-message").cleditor({height: 160, width: 360});
$("#widget").text($("#widget-message").html());



$("#widget-message").cleditor().change(function(){
    $("#widget").html($("#widget-message").val());
});


  // dragabble and resizable
  $('#widget').draggable({ containment: '#widget-preview' });
  $('#widget').resizable({
   stop: function(event, ui) {
                        $("#widget-height").val($("#widget").height());
                        $("#widget-width").val($("#widget").width());
                     },
   resize: function(event, ui) {
                        $("#widget-height").val($("#widget").height());
                        $("#widget-width").val($("#widget").width());
                     },
  });
</script>


{% endblock %}
