{% extends "site_base.html" %}

	{% block  js_css_include %}
 	<link rel="stylesheet" href="{% url static 'css/campaign_admin.css' %}" type="text/css" />
 	<link rel="stylesheet" href="{% url static 'css/create.css' %}" type="text/css" />
        <script type="text/javascript" src="{% url static 'javascript/jquery.showLoading.js' %}" ></script>	
        <link rel="stylesheet" href="{% url static 'css/showLoading.css' %}" type="text/css" />	
        <link rel="stylesheet" href="{% url static 'css/campaign_admin_tabs.css' %}" type="text/css" />	
	{% endblock %}

{% block title %}Admin Console.{% endblock %}


{% block site-content %}
<br/><br/><br/>

<div id="admin_console2">
<div id="admin-header">
<h1>Admin Console</h1>
<h4 style="text-align:center;">Promotion Type - {{campaign.campaign_type}}</h4>
</div>
<br/><br/><br/>

<ul class="tabs">
  <li><a href="#first">Landing Page</a></li>
  <li><a href="#second">Edit</a></li>
  <li><a href="#third">Widget</a></li>
  <li><a id="analytics_click" href="#third">Analytics</a></li>
</ul>

<!-- tab "panes" -->
<div class="panes">
  <div><iframe src ="{{landing_url}}" width="100%" height="1200"></iframe></div>
  <div><iframe src ="{{update_url}}" width="100%" height="1200"></iframe></div>
  <div><iframe src ="{{widget_url}}" width="100%" height="1200"></iframe></div>
  <div><iframe id="analytics_iframe" src ="{{analytics_url}}" width="100%" height="1200"></iframe></div>
</div>
</div>



<div id="email-admin-details" class="create">
<input type="text" id="email_address" value="name@sampledomain.com"/>
<button id="email-button">
Email Details To Self
</button>
</div>

<div id="winners" class="create" style="text-align:center; display: none;">
  <h2>Pick Raffle Winners:<button style="" id="winners-button">Click Here</button></h2>
<br/>
<div id="winners-wrapper" style="display: none;">
<div id="choose-winners">
    <div id="choose-number-winners">Number of Winners: 
             <input type="text" id="number-of-winners" value="1" name="number-of-winners" size="2"/> 
             <button id="random-select-winners">Select Winners</button>
	     <button id="random-select-hide" style="display: none;">Hide Winners</button>
    </div>
</div>
<div id="error-message">
</div>
<div id="winner-selection">
      <ul id="winners-list">
      </ul>
</div>
</div>
</div>

<script>
$("ul.tabs").tabs("div.panes > div");

$("#analytics_click").click(function(){
$("analytics_iframe").attr("src", "{{analytics_url}}");
});


// show pick winners if raffle
if ('{{campaign.campaign_type}}' == 'raffle') {
    $("#winners").show();
}


$.fn.getNodeName = function() { 
  // returns the nodeName of the first matched element, or ""
  return this[0] ? this[0].nodeName : "";
};

var exclude = [];

function get_winners_call(call_type) {
        if (call_type == "refresh") {
                            $("#winners-list").html("");
        }

        $.ajax({
		url: '{% url ajax_select_winners %}?campaign={{campaign.id}}', 
		dataType: "json",
		data: {total_number: $("#number-of-winners").val(),
                       current_number: $("#winners-list").children().size(),
                       exclude: JSON.stringify(exclude)
                      },
		success: function(data) {
                        if (data.status == 501) {
                            $("#error-message").show();
                            $("#error-message").html(data.message); 
                        }
                        else {
                             $("#error-message").hide();
                        }
                       
                        
                        exclude = data.exclude; 
                        $.each(data.winners, function(index, value) { 
                            $("#winners-list").append("<li><div class='name' style='padding: 10px 0 0 20px; float: left;'>" + value.name + "</div> &nbsp;&nbsp;&nbsp; <div class='image' style='float: right;'><img class='winner-logo' src='" + value.profile_pic + "' /> <img class='close-winner-logo' src='{% url static 'images/close2.png' %}' /> </div></li>"); 
                        });
                         
                        jQuery('#choose-winners').hideLoading();
                      
		        bind_close_button();	
                        if ($("#winner-selection").is(":hidden")) {
                            $("#random-select-hide").show();
                            $("#winner-selection").slideDown("slow");
                            $("#random-select-winners").html("Refresh");
                        } 
                  			
		},
		beforeSend: function() {
                       $("#choose-winners").showLoading();
		}
	});
}

function bind_close_button() {
    $("ul#winners-list img.close-winner-logo").unbind("click");
    $("ul#winners-list img.close-winner-logo").click(function(){
        var li = $(this).parent().parent()[0];
        var ul = $(li).parent().getNodeName();
        $(li).remove();
        get_winners_call("update");
    });
}

$("#random-select-winners").click(function(){
        get_winners_call("refresh");
});


$("#random-select-hide").click( function() {
          if ($("#winner-selection").is(":hidden")) {
                    $("#winner-selection").slideDown("slow");
                    $("#random-select-hide").html("Hide Winners");
                } else {
                    $("#winner-selection").slideUp("slow");
                    $("#random-select-hide").html("Show Winners");
                }
});

$("#winners-button").click(function(){
if ($("#winners-wrapper").is(":hidden")) {
    $("#winners-wrapper").slideDown("slow");
    $("#winners-button").html("Hide");
} else {
    $("#winners-wrapper").slideUp("slow");
    $("#winners-button").html("Click Here");
}
});


  $("input[type  = text]").click(function() {
         
                if (typeof($(this).attr("original")) == "undefined") {
                     $(this).attr("original", $(this).val());       
                }
                if (trim($(this).val()) == $(this).attr("original")) { 
                     $(this).val("");
                }
		$(this).css("color", "black");
     });

     $("input[type  = text]").focusout(function() {
                if (trim($(this).val()) == "") {
                      $(this).val($(this).attr("original"));
                     $(this).css("color", "#E0E0E0");
                }
     });

    $("#email-button").click(function() {

          var values = {};
          values["email_address"] = $("#email_address").val();
          values["content"] = $("#admin_console").html();
          values["chash"] = "{{campaign.chash}}";

          $.ajax({
    		url: '{% url send_details_email %}', 
     			dataType: "json",
     			type: "POST",
     			data: values, 
     		success: function(data){
                  $("#email_address").val("");
     					},
     		beforeSend: function() {
     		}
                });

    });
</script>

{% endblock %}
