{% extends "site_base.html" %}

	{% block  js_css_include %}
 	<link rel="stylesheet" href="{% url static 'css/campaign_admin.css' %}" type="text/css" />
 	<link rel="stylesheet" href="{% url static 'css/create.css' %}" type="text/css" />
	{% endblock %}

{% block title %}Admin Console.{% endblock %}


{% block site-content %}
<br/><br/><br/>

<div id="admin_console" class="create">
<h1>Admin Console</h1>

<ul>
<li>
Campaign Page: <a href="{% url campaign_page chash=campaign.chash %}">{{host}}{% url campaign_page chash=campaign.chash %}</a><br/>
</li>
<li>
Analytics: <a href="{% url campaign_analytics chash=campaign.chash %}">{{host}}{% url campaign_analytics chash=campaign.chash %}</a><br/>
</li>
<li>
Edit Campaign: <a href="{% url campaign_update chash=campaign.chash %}">{{host}}{% url campaign_update chash=campaign.chash %}</a><br/>
</li>
</ul>
</div>

{% endblock %}
