{% extends "site_base.html" %}

{% block  js_css_include %}
	<script type="text/javascript" src="{% url static 'javascript/jquery-ui-1.8.1.custom.js' %}"></script>
	<script type="text/javascript" src="{% url static 'javascript/jquery.ui.datepicker.js' %}"> </script>
	<script type="text/javascript" src="{% url static 'javascript/jquery.timePicker.js' %}"> </script>
	<script type="text/javascript" src="{% url static 'javascript/ajaxfileupload.js' %}"> </script>
	<script type="text/javascript" src="{% url static 'javascript/jquery.uploadify.js' %}"> </script>
	<script type="text/javascript" src="{% url static 'javascript/jquery.validate.js' %}"> </script>
	<script type="text/javascript" src="{% url static 'javascript/myjscript.js' %}"> </script>
	<script type="text/javascript" src="{% url static 'javascript/jquery.cycle.all.min.js' %}"> </script>

	<link rel="stylesheet" href="{% url static 'css/calendar-system.css' %}" type="text/css" >
	<link rel="stylesheet" href="{% url static 'css/calendar-en.css' %}" type="text/css" >
	<link rel="stylesheet" href="{% url static 'css/jquery.calendar.css' %}" type="text/css" >
	<link rel="stylesheet" href="{% url static 'css/jquery.ptTimeSelect.css' %}" type="text/css" >	
	<link type="text/css" href="{% url static 'css/jquery-ui-1.8.1.custom.css' %}" rel="Stylesheet" />

 	<link rel="stylesheet" href="{% url static 'css/create.css' %}" type="text/css" >
{% endblock %} 

{% block title %}Create{% endblock %}

{% block site-content %}
<BR><BR><BR><BR>

<div id="choose-create-entity" class="create">
<h1>Create Promotion</h1>
<h4><font style="font-weight: bold; font-size: 20px; color: gray;">To Start:</font> Enter a URL for what you would like to promote</h4>	
    	 	<input type="text" value="URL to be Rippled goes here." name="campaign_url" id="campaign_url"></input>
		<button id="create-button" disabled="true">CREATE</button>
</div>

<div id="campaign-choice-wrapper">
 <div id="inner-campaign-choice-wrapper">
  <div id="discount-selection">
<img src='{% url static 'images/discounts/discount1.jpeg'%}'/>
<img src='{% url static 'images/discounts/discount2.jpeg'%}'/>
<img src='{% url static 'images/discounts/discount3.jpg'%}'/>
<img src='{% url static 'images/discounts/discount4.jpg'%}'/>
<img src='{% url static 'images/discounts/discount5.jpeg'%}'/>
  </div>
  <div id="make-selection">
                                Incentive:
				<select name="campaign_type" id="campaign_type">
                                             <option value="discount" selected><- Discounts</option>
					     <option value="raffle">Giveaways -></option>
				</select>

  </div>
</div>
  <div id="raffle-selection">
<img src='{% url static 'images/prize/prize1.jpg'%}'/>
<img src='{% url static 'images/prize/prize2.jpeg'%}'/>
<img src='{% url static 'images/prize/prize3.jpeg'%}'/>
<img src='{% url static 'images/prize/prize4.jpg'%}'/>
<img src='{% url static 'images/prize/prize5.jpg'%}'/>
  </div>
</div>


<div id="preview" style="display:none;">
  <div id="preview-sign">Preview Landing Page</div>
    <iframe id="iframe_preview" src ="{{campaign.url}}" width="100%" height="600" scrolling="auto">
       <p>Your browser does not support iframes.</p>
    </iframe>
</div>
<script>

$('#discount-selection').cycle({ 
    fx:     'fade', 
    speed:   300, 
    timeout: 4000, 
    next:   '#discount-selection', 
    pause:   1,
    delay: 2000
});



$('#raffle-selection').cycle({ 
    fx:     'fade', 
    speed:   300, 
    timeout: 4000, 
    next:   '#raffle-selection', 
    pause:   1 
});


  $(document).ready(function() {

     function create() {
           var values = {};
                values["url"] = $('#campaign_url').val();
                values["campaign_type"] = $('#campaign_type').val();
		$.ajax({
     		url: '{% url create_campaign_ajax %}', 
     			dataType: "json",
     			type: "POST",
     			data: values, 
     		success: function(data){
     			window.location.href = "{% url campaign_created %}?chash=" + data.campaign_hash; 
     					},
     		beforeSend: function() {
     		}
             });
     }

     $("#campaign_url").keypress(function(e){
        if(e.which == 13){
          create();
         }
      });

  
     $("#create-button").click(function(){
       create();  
     });

     $("input[type  = text]").click(function() {
         
                if (typeof($(this).attr("original")) == "undefined") {
                     $(this).attr("original", $(this).val());       
                }
                if (trim($(this).val()) == $(this).attr("original")) { 
                     $(this).val("");
                }
		$(this).css("color", "black");
     });

     $("input[type  = text]").focusout(function() {
                if (trim($(this).val()) == "") {
                      $(this).val($(this).attr("original"));
                     $(this).css("color", "#E0E0E0");
                }
     });
  
     //$("#campaign_url").keyup(handle_url_key);
     //$("#campaign_url").keydown(handle_url_key);
     //$("#campaign_url").keyup(function() {handle_url_key($(this).val())});

function handle_url_key(url){
                var values = {};
                values["url"] = url;
                var url_base = "{% url campaign_page_preview%}";
                var url_full = "";

		$.ajax({
     		url: '{% url create_campaign_url_check %}', 
     			dataType: "json",
     			type: "POST",
     			data: values, 
     		success: function(data){
                            if (data.url != "") {
                                $("#preview").show();
                                 url_full = url_base + "?url=" + data.url;
                                 //alert("bbb" + url_full);
                                 $("#preview").show();
                                 $("#iframe_preview").attr("src", url_full);
                                 $("#create-button").removeAttr("disabled");
                            }
                            else {
                                $("#create-button").attr("disabled", "disabled");
                                $("#preview").hide();
                            }
     					},
     		beforeSend: function() {
     		}
                });

     }

});


</script>

{% endblock %}
