{% extends "event_base.html" %}

{% block title %}Event Details{% endblock %}

{% block content %}
<h2>Event Details.</h2>
{% if event %}
<a href={% url event_home event_id=event.id %}>{{ event.name }}</a> <br />
Event Id: {{ event.id }} <br />
Description: {{event.description}} <br />
Start Time: {{event.event_date_time_start}} <br />
End Time: {{event.event_date_time_end}} <br />
Capacity: {{event.capacity}} <br />
Venue: {{event.venue }} <br />
Venue Address: {{event.venue_address}} <br />
Organizer: <a href="{% url user_details user_id=event.organizer_id %}">{{event.organizer_id}}</a>

<hr/>
<h1>INVITES</h1>
<table id="details_table">
<tr>
  <th>Invites</th>
  <th>Parent Invite</th>
  <th>From Person</th>
  <th>To</th>
  <th>Message</th>
  <th>CreatedAt</th>
</tr>
{% for invite in invites %}

<tr>
<td><a href="{% url event_invite invide_id=invite.id %}">{{invite.id}}</a></td>
<td><a href="{% url event_invite invide_id=invite.id %}">{{invite.from_invite.id}}</a></td>
<td><a href="{% url user_details user_id=invite.from_user_id %}">{{invite.from_user_id}}</a>&nbsp;{{invite.from_user.username}}</td>
<td><a href="{% url user_details user_id=invite.to_user_id %}">{{invite.to_user_id}}</a></td>
<td>{{invite.message}}</td>
<td>{{invite.created_at}}</td>
</tr>
{% endfor %}
<table>



<hr/>
<h1>USERS GOING</h1>
<table id="details_table">
<tr>
  <th>Attendees</th>
  <th>Name</th>
  <th>username</th>
  <th>Picture</th>
</tr>
{% for user in attendees %}

<tr>
<td><a href="{% url user_details user_id=user.id %}">{{user.id}}</a></td>
<td>{{user.name}}</td>
<td>{{user.username}}</td>
<td><a href="{% url user_details user_id=user.id %}"><img src="{{user.profile_pic}}" /></a></td>
</tr>
{% endfor %}
<table>

<hr/>
<h1>USERS MAYBE GOING</h1>
<table id="details_table">
<tr>
  <th>Attendees</th>
  <th>Name</th>
  <th>username</th>
  <th>Picture</th>
</tr>
{% for user in attendees_maybe %}

<tr>
<td><a href="{% url user_details user_id=user.id %}">{{user.id}}</a></td>
<td>{{user.name}}</td>
<td>{{user.username}}</td>
<td><a href="{% url user_details user_id=user.id %}"><img src="{{user.profile_pic}}" /></a></td>
</tr>
{% endfor %}
<table>


{% else %}
<p>No valid event provided.</p>
{% endif %}

{% endblock %}
