{% extends "site_base.html" %}



	{% block  js_css_include %}
 	<link rel="stylesheet" href="{% url static 'css/howitworks.css' %}" type="text/css" />
	{% endblock %}

{% block title %}Event Promotions - Viral Incentive Referrals Tool{% endblock %}
{% block description %}How it works, overview and description. Create a widget or a landing page, put it on your site, and watch your event spread virally over facebook and twitter.{% endblock %}

{% block site-content %}
<div id="howitworks-wrapper">
<div class="description">
<h1>Convert Event Attendees into Evangelists <br/>(How It Works)</h1>
<p>
RippleFunction Creates, Manages, and Tracks event promotions by<br/>
Rewarding Tweets and Shares with incentives.
<img src="{%url static 'images/rewards.png'%}" />
</p>


<p>
RippleFunction provides custom looking widgets that you can embed into your site<br/>
and have all of the functionality right on your website.<br/>
Track users shares, and reward them for promoting your events.
<img src="{%url static 'images/widget.png'%}" />
</p>

<p>
RippleFunction provides analytics to track every step of the promotion.<br/>
Top influencers. Top reach. Who clicked. Who is going. And much more.
<img src="{%url static 'images/analytics.png'%}" />
</p>

<br/><br/><br/>
<a href="{% url create_campaign %}">Try it.</a> It takes less than a minute to create a promotion.




</div>
</div>
{% endblock %}
