<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=iso-8859-1" />
    <meta http-equiv="Content-Language" content="en-us" />

    <script type="text/javascript" src="/simpz/site_media/javascript/jquery-1.4.2.min.js" ></script>
    <script type="text/javascript" src="/simpz/site_media/javascript/myjscript.js" ></script>
    <script type="text/javascript" src="/simpz/site_media/javascript/jquery.tools.min.js" ></script>
    <script type="text/javascript" src="/simpz/site_media/javascript/jquery.validate.js" ></script>
    <script type="text/javascript" src="/simpz/site_media/javascript/jquery.cookie.js" ></script>

	{% block  js_css_include %}
	{% endblock %}

	<link rel="stylesheet" href="/simpz/site_media/css/blueprint/screen.css" type="text/css" media="screen, projection" >
    <link rel="stylesheet" href="/simpz/site_media/css/blueprint/print.css" type="text/css" media="print" >
    <link rel="stylesheet" href="/simpz/site_media/css/style.css" type="text/css" >
	<link rel="stylesheet" type="text/css" href="/simpz/site_media/css/2stylez.css">
	<!--[if IE]>
	<link rel="stylesheet" type="text/css" href="/simpz/site_media/css/2ie.css" />
	<![endif]-->
	<link rel="stylesheet" type="text/css" href="/simpz/site_media/css/2home.css">
    
    <title>{% block title %} {% endblock %}</title>
</head>
<body>

	<div id="main">
		<div id="header">
			<div>
				<ul id="topnav">
					<li><a href="get.html">Get Evently</a></li>
					<li><a href="howitworks.html">How it works</a></li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
				
				<div id="featured"><a href="/simpz/create/"><img src="/simpz/site_media/images/look/button.png"></a>
				<div>
			</div>
		</div>
		<!-- END featured -->
	</div>


</div>

<div id="content">
	
  <div class="container">
    
    <!-- Header Content -->
    {% include "header.html" %}    


    {% block content %}
    {% endblock %}
  <div class="span-24 last myfooter">
  
   
  
</div>	
 <!-- Footer content -->
      {% include "footer.html" %}							


<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js"></scrpt>


<button id="status">STATUS</button>
{% if facebook %}

<button id="logoutnow">LOGOUT</button>
<fb:profile-pic uid={{facebook}} linked="false" ></fb:profile-pic> 

<button id="more_perms">PERMISSIONS</button>
<button id="feed">FEED</button>
<button id="message">MESSAGE</button>

<br/><br/>
<!--<fb:prompt-permission perms="email">Would you like to receive email from our application?</fb:prompt-permission>-->
{% else %}

<button id="login">LOGIN</button>

<!-- <fb:login-button id="fb-login" v="2"><fb:intl>Connect with Facebook and stuff</fb:intl></fb:login-button> -->
{% endif %}


<script>
FB.init({appId: '374592118121', status: true, cookie: true, xfbml: true});

$("#feed").click(function(){
     $.ajax({
       url: '/simpz/ajax/facebook_update_feed/', 
       dataType: "json",
       data: {},
       success: function(data){
          alert("REQUEST DONE", data);
       },
       beforeSend: function() {
           alert("sending feed request");
        }
      });
});

$("#message").click(function(){
     $.ajax({
       url: '/simpz/ajax/facebook_message/', 
       dataType: "json",
       data: {},
       success: function(data){
          alert("REQUEST DONE", data);
       },
       beforeSend: function() {
           alert("sending message");
        }
      });
});

  $('#status').click(function(){
  FB.getLoginStatus(function(response) {
  if (response.session) {
    // logged in and connected user, someone you know
    alert("logged in "  + $.cookie("access_token"));
  } else {
    // no user session available, someone you dont know
   alert("logged out");
  }
});
  });

  var requiredPerms = ['email','user_about_me','user_birthday','user_website', 'publish_stream'];
  //var requiredPerms = ['publish_stream'];
  $('#login').click(function() {
 
  FB.login(function(response) {
    if (response.session) {
      var a = response.session;
      var options = { path: '/simpz/', expires: 10 };
      $.cookie("uid", a.uid, options);
      $.cookie("session_key", a.session_key, options);
      $.cookie("secret", a.secret, options);
      $.cookie("expires", a.expires, options);
      $.cookie("base_domain", a.base_domain, options);
      $.cookie("access_token", a.access_token, options);
      $.cookie("sig", a.sig, options);
  
      window.location.href = "/simpz/facebook_callback/";
  } else {
  }
  });
});

$("#more_perms").click(function(){
    FB.login(function(response){
       if (response.session) {
      var a = response.session;
      var options = { path: '/simpz/', expires: 10 };
      $.cookie("uid", a.uid, options);
      $.cookie("session_key", a.session_key, options);
      $.cookie("secret", a.secret, options);
      $.cookie("expires", a.expires, options);
      $.cookie("base_domain", a.base_domain, options);
      $.cookie("access_token", a.access_token, options);
      $.cookie("sig", a.sig, options);
  alert("permission granted   access token  " + a.access_token);
      window.location.href = "/simpz/facebook_callback/";
}
    },{perms: requiredPerms.join(',')});
});


  $('#logoutnow').click(function() {

      $.cookie("uid", null);
      $.cookie("session_key", null);
      $.cookie("secret", null);
      $.cookie("expires", null);
      $.cookie("base_domain", null);
      $.cookie("access_token", null);
      $.cookie("sig", null);

      FB.logout(function(response) { 
            window.location.href = "/simpz/facebook_logout_callback/";
      });
     //window.location.href = "/simpz/facebook_logout_callback/";
  });


</script>



</body>

</html>
    
