<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=iso-8859-1" />
    <meta http-equiv="Content-Language" content="en-us" />

    <script type="text/javascript" src="{% url static 'jquery-1.4.2.min.js' %}" ></script>
	<script type="text/javascript" src="{% url static 'myjscript.js' %}" ></script>
    <script type="text/javascript" src="{% url static 'jquery.tools.min.js' %}" ></script>
    <script type="text/javascript" src="{% url static 'ajaxfileupload.js' %}" ></script>

    <link type="text/css" href="{% url static 'ajaxfileupload.css' %}" rel="Stylesheet" />
	<link type="text/css" href="{% url static 'jquery-ui-1.8.1.custom.css' %}" rel="Stylesheet" />	
	<script type="text/javascript" src="{% url static 'jquery-ui-1.8.1.custom.js' %}"> 
 </script>
<script type="text/javascript" src="{% url static 'jquery.timePicker.js' %}"></script>
<style type="text/css">
div.time-picker {
  position: absolute;
  height: 200px;
  width:4em; /* needed for IE */
  overflow: auto;
  background: #fff;
  border: 1px solid #000;
  z-index: 99;
}
div.time-picker-12hours {
  width:6em; /* needed for IE */
}

div.time-picker ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
div.time-picker li {
  padding: 1px;
  cursor: pointer;
}
div.time-picker li.selected {
  background: #316AC5;
  color: #fff;
}

div.image_preview {
	width: 200px;
	height: 200px;
	border: 1px solid #000;
	text-align: center;
}
div.image_preview  img{
	width: 200px;
	height: 200px;
}
  </style>


	

    <title>testing</title>
</head>
  
<body>
   
	<p><input name="time" id="time" type="text" /> </p>
	<p><input name="time1" id="time1" type="text" /></p> 
    <p><textarea rows="10" cols="20"> </textarea></p>
    <p><input name="image" id="image" type="file" onChange="ajaxFileUpload(this.value);"> </input>
	
	<div class="image_preview"><br/><br/><br/><br/>Image Preview</div></p>

<script>
function previewImage(image_path) {
    alert(image_path);
    $('div.image_preview').html("<img src='" + image_path + "' />");
	alert("hiii2");
}

function ajaxFileUpload(file_name)
{
	    alert("ajaxFileUpload called " + file_name);
        //starting setting some animation when the ajax starts and completes
        $("div.image_preview")
           .ajaxStart(function(){
				alert("ajaxStart");
                $(this).html("<img src='{% url static 'images/ajax-loader.gif' %}' />");
        })
           .ajaxComplete(function(){ 
	            $(this).html("<img src='{% url static 'images/muse.png' %}' />");
		        alert("done with upload");
        });

        /*
                prepareing ajax file upload
                url: the url of script file handling the uploaded files
                fileElementId: the file type of input element id and it will be the index of  $_FILES Array()
                dataType: it support json, xml
                secureuri:use secure protocol
                success: call back function when the ajax complete
                error: callback function when the ajax failed

        */
        $.ajaxFileUpload
        (
                {
                        url:'/upload_image',
                        secureuri:false,
                        fileElementId:'image',
                        dataType: 'json',
                        success: function (data, status)
                        {
                                if(typeof(data.error) != 'undefined')
                                {
                                        if(data.error != '')
                                        {
                                                alert(" error1 " + data.error);
                                        }else
                                        {
                                                alert("no error " + data.msg);
                                        }
                                }
                        },
                        error: function (data, status, e)
                        {
                                alert("error2 " + e);
                        }
                }
        )

        return false;

}


$(document).ready(function() {

	$('#time').datepicker({ buttonImageOnly: false,
		 					buttonImage: "{% url static 'images/calendar.png' %}",
							showOn: 'button'});		
	$("#time1").timePicker({
				show24Hours: false,
				separator: '.',
			    step: 10});
});


</script>							
</body>
</html>
