<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=iso-8859-1" />
    <meta http-equiv="Content-Language" content="en-us" />

o<link rel="stylesheet" href="{% url static 'css/showLoading.css' %}" type="text/css" media="print">	

<script type="text/javascript" src="{% url static 'javascript/jquery.showLoading.js' %}" ></script>	
    <script type="text/javascript" src="{% url static 'javascript/jquery-1.4.2.min.js' %}" ></script>
	<script type="text/javascript" src="{% url static 'javascript/myjscript.js' %}" ></script>
    <script type="text/javascript" src="{% url static 'javascript/jquery.tools.min.js' %}" ></script>
        <script type="text/javascript" src="{% url static 'javascript/ajaxfileupload.js' %}" ></script>


	<link type="text/css" href="{% url static 'css/jquery-ui-1.8.1.custom.css' %}" rel="Stylesheet" />	
	<script type="text/javascript" src="{% url static 'css/jquery-ui-1.8.1.custom.js' %}"> 
 </script>
<script type="text/javascript" src="{% url static 'javascript/jquery.timePicker.js' %}"></script>
<style type="text/css">
div.time-picker {
  position: absolute;
  height: 200px;
  width:4em; /* needed for IE */
  overflow: auto;
  background: #fff;
  border: 1px solid #000;
  z-index: 99;
}
div.time-picker-12hours {
  width:6em; /* needed for IE */
}

div.time-picker ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
div.time-picker li {
  padding: 1px;
  cursor: pointer;
}
div.time-picker li.selected {
  background: #316AC5;
  color: #fff;
}

div.image_preview {
	width: 200px;
	height: 200px;
	border: 1px solid #000;
	text-align: center;
}
div.image_preview  img{
	width: 200px;
	height: 200px;
}
  </style>


	

    <title>testing</title>
</head>
  
<body>

<a class="loading-default">Show default loading indicator</a>    
	<p><input name="time" id="time" type="text" /> </p>
	<p><input name="time1" id="time1" type="text" /></p> 
    <p><textarea rows="10" cols="20"> </textarea></p>
    <p><input name="image" id="image" type="file" onChange="ajaxFileUpload(this.value);"> </input>
	
	<div class="image_preview"><br/><br/><br/><br/>Image Preview</div></p>

<script>
  jQuery(document).ready(
  function() {
 
    //
    // When a user clicks the 'loading-default' link,
    // call showLoading on the activity pane
    // with default options
    //
    jQuery('a.loading-default').click(
 
  function() {
  jQuery('#activity_pane').showLoading();
  }
 
    ); 
 
 
    //
    // When a user clicks the 'loading-ajax' link,
    // call showLoading, sleep, then call hide loading
    // with default options
    //
    jQuery('a.loading-ajax').click(
 
  function() {
  jQuery('#activity_pane').showLoading(
   {
      'afterShow': 
  function() {
  setTimeout( "jQuery('#activity_pane').hideLoading()", 1000 );
  }
 
  
  
   }
  );
  }
 
    ); 
 
 
    //
    // When a user clicks the 'loading-bars' link,
    // call showLoading with addClass specified
    //
    jQuery('a.loading-bars').click(
 
  function() {
  jQuery('#activity_pane').showLoading(
   {
      'addClass': 'loading-indicator-bars'
  
   }
  );
  }
 
    ); 
 
 
    //
    // When a user clicks the 'loading-hide' link,
    // call hideLoading on the activity pane
    //
    jQuery('a.loading-hide').click(
 
  function() {
  jQuery('#activity_pane').hideLoading();
  }
 
    ); 
 
  }
 
  );
 



function previewImage(image_path) {
    alert(image_path);
    $('div.image_preview').html("<img src='" + image_path + "' />");
	alert("hiii2");
}


$(document).ready(function() {
	$('#time').datepicker({ buttonImageOnly: false,
		 					buttonImage: "{% url static 'images/calendar.png' %}",
							showOn: 'button'});		
	$("#time1").timePicker({
				show24Hours: false,
				separator: '.',
			    step: 10});
});


</script>							

<html>
<body>
<a target='ripple' href='http://bit.ly/brVgWk'><div style='width: 258px; height: 35px; color: rgb(0, 0, 0); font-size: 27pxpx; text-align: center; border: 2px solid black; background-color: rgb(210, 246, 208);'> 50% off Discount </div></a>


</body>


</html>
