<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html> 
  <head> 
   <title>jQuery showLoading example</title> 
  
  <link href="{%url static 'css/test/demo.css' %}" rel="stylesheet"> 
  </head> 
  <body> 
 
    
    <div id="box1" onmouseover="$('#box1').stop().animate({shadow: '0 0 30px #44f'})" onmouseout="$('#box1').stop().animate({shadow: '0 0 10px #000'})">HELLO</div>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>  
   <script type="text/javascript" src="{% url static 'javascript/jquery.animate-shadow.js' %}" ></script>	
  </body> 
</html>
