{% extends "site_base.html" %}

{% block title %}Internal Analytics{% endblock %}

	{% block  js_css_include %}
            <script type="text/javascript" src="{% url static 'javascript/jquery-ui-1.8.1.custom.js' %}"></script>
            <script type="text/javascript" src="{% url static 'javascript/jquery.ui.datepicker.js' %}"></script>
            <link rel="stylesheet" href="{% url static 'css/showLoading.css' %}" type="text/css" />	
            <script type="text/javascript" src="{% url static 'javascript/jquery.showLoading.js' %}" ></script>	        
            <link rel="stylesheet" href="{% url static 'css/jquery-ui-1.8.6.custom.css' %}" type="text/css" />  
            <link rel="stylesheet" href="{% url static 'css/internal-analytics.css' %}" type="text/css" />  
            <script src="http://www.google.com/jsapi" type="text/javascript"></script> 
	{% endblock %}


{% block site-content %}
<script>
  $(function() {
  $( "#accordion" ).accordion({
      collapsible: true,
      autoHeight: false
  });

$("#datepicker_start_totalshares").datepicker({ gotoCurrent: true,
                                              showOn: "button",
                                              buttonImage: "{% url static 'images/calendar.png' %}",
                                              buttonImageOnly: true });
$("#datepicker_end_totalshares").datepicker({ gotoCurrent: true, 
                                              showOn: "button",
                                              buttonImage: "{% url static 'images/calendar.png' %}",
                                              buttonImageOnly: true});
$("#datepicker_start_totalreach").datepicker({ gotoCurrent: true,
                                              showOn: "button",
                                              buttonImage: "{% url static 'images/calendar.png' %}",
                                              buttonImageOnly: true });
$("#datepicker_end_totalreach").datepicker({ gotoCurrent: true, 
                                              showOn: "button",
                                              buttonImage: "{% url static 'images/calendar.png' %}",
                                              buttonImageOnly: true});
$("#datepicker_start_campaigns_created").datepicker({ gotoCurrent: true,
                                              showOn: "button",
                                              buttonImage: "{% url static 'images/calendar.png' %}",
                                              buttonImageOnly: true });
$("#datepicker_end_campaigns_created").datepicker({ gotoCurrent: true,
                                              showOn: "button",
                                              buttonImage: "{% url static 'images/calendar.png' %}",
                                              buttonImageOnly: true });
$("#datepicker_start_clicksreach").datepicker({ gotoCurrent: true,
                                              showOn: "button",
                                              buttonImage: "{% url static 'images/calendar.png' %}",
                                              buttonImageOnly: true });
$("#datepicker_end_clicksreach").datepicker({ gotoCurrent: true,
                                              showOn: "button",
                                              buttonImage: "{% url static 'images/calendar.png' %}",
                                              buttonImageOnly: true });
  });


</script>



<div class="demo">

<div id="accordion">
  <h3><a id="total_shares" href="#">Total Shares</a></h3>
  <div id="data-content-totalshares" class="data-content">

    <ul>
      <li id="li-shares-day">Last 24 hours: {{total_shares_last_day}}</li>
      <li id="li-shares-week">Last Week: {{total_shares_last_week}}</li>
      <li id="li-shares-month">Last Month: {{total_shares_last_month}}</li>
      <li id="li-shares-all">All Time: {{total_shares}}</li>
    </ul>
      

    <div class="dates">  
      <p>From: <input type="text" value="{{start}}" id="datepicker_start_totalshares"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      To: <input type="text"  value="{{current}}" id="datepicker_end_totalshares">

      <button id="total_shares_refresh">Refresh</button>
      </p>
      
    </div>

    
    <div id="line-chart-totalshares"></div>
    <div id="pie-chart-totalshares"></div>

  </div> <!-- end data-content -->

  <h3><a id="total_reach" href="#">Total Reach</a></h3>
  <div id="data-content-totalreach" class="data-content">

    <ul>
      <li id="li-reach-day">Last 24 hours</li>
      <li id="li-reach-week">Last Week</li>
      <li id="li-reach-month">Last Month</li>
      <li id="li-reach-all">All Time</li>
    </ul>
      

    <div class="dates">  
      <p>From: <input type="text" value="{{start}}" id="datepicker_start_totalreach"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      To: <input type="text"  value="{{current}}" id="datepicker_end_totalreach">

      <button id="total_reach_refresh">Refresh</button>
      </p>
      
    </div>

    
    <div id="line-chart-totalreach"></div>
    <div id="pie-chart-totalreach"></div>
  </div> <!-- end data-content -->

  <h3 ><a id="campaigns_created" href="#">Campaigns Created</a></h3>
  <div id="data-content-campaignscreated" class="data-content">
    <ul>
      <li id="li-campaignscreated-day">Last 24 hours: {{total_campaignscreated_last_day}}</li>
      <li id="li-campaignscreated-week">Last Week: {{total_campaignscreated_last_week}}</li>
      <li id="li-campaignscreated-month">Last Month: {{total_campaignscreated_last_month}}</li>
      <li id="li-campaignscreated-all">All Time: {{total_campaignscreated}}</li>
    </ul>

     <div class="dates">  
      <p>From: <input type="text" value="{{start}}" id="datepicker_start_campaigns_created"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      To: <input type="text" value="{{current}}" id="datepicker_end_campaigns_created">
      <button id="campaigns_created_refresh">Refresh</button>
      </p>
    </div>
  
    <div id="line-chart-campaignscreated"></div>
    <div id="pie-chart-campaignscreated"></div>

  </div> <!-- end data-content -->

  <h3><a id="clicksreach" href="#">Clicks/Reach</a></h3>
  <div id="data-content-clicksreach" class="data-content">
    <div class="dates">  
      <p>From: <input type="text" value="{{start}}" id="datepicker_start_clicksreach"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      To: <input type="text" value="{{current}}" id="datepicker_end_clicksreach">
      <button id="campaigns_clicksreach_refresh">Refresh</button>
      </p>
    </div>    

    <div id="bar-chart-clicksreach"></div>

  </div> <!-- end data-content -->

  <h3><a href="#">Percent Shares/Reach</a></h3>
  <div class="data-content">
    
    </div>
</div>

</div>


<script>

             function drawPieShares(start, end, show_loading) {
	     	var data_table = new google.visualization.PieChart(document.getElementById('pie-chart-totalshares'));
	     	$.ajax({
	     		url: '{% url internal_analytics_totalshares_pie %}?start=' + start + '&end=' + end, 
	     		dataType: "json",
	     		data: {},
	     		success: function(data) {
	     			var json_data = new google.visualization.DataTable(data.data, 0.5);
	     			data_table.draw(json_data, 
	     			     {title: "Facebook vs Twitter",
                                     width: 340,
	                             fontSize: 14,
	     			     is3D: true,
                                     pieSliceText: 'value',
                                     colors:['green','blue']});
	     		},
	     		beforeSend: function() {
	                    if (show_loading) {
                                $("#pie-chart-totalshares").showLoading({'afterShow': function(){ setTimeout( "jQuery('#pie-chart-totalshares').hideLoading()", 500 );}});         
                            }
	     		}

	     	});		
	     }

	     function drawPieReach(start, end, show_loading) {
	     	var data_table = new google.visualization.PieChart(document.getElementById('pie-chart-totalreach'));
	     	$.ajax({
	     		url: '{% url internal_analytics_totalreach_pie %}?start=' + start + '&end=' + end, 
	     		dataType: "json",
	     		data: {},
	     		success: function(data) {
	     			var json_data = new google.visualization.DataTable(data.data, 0.5);
	     			data_table.draw(json_data, 
	     			     {title: "Facebook vs Twitter",
                                     width: 340, height: 200,
	                             fontSize: 14,
	     			     is3D: true,
                                     pieSliceText: 'value',
                                     colors:['green','blue']});
	     		},
	     		beforeSend: function() {
	                    if (show_loading) {
                                $("#pie-chart-totalreach").showLoading({'afterShow': function(){ setTimeout( "jQuery('#pie-chart-totalreach').hideLoading()", 500 );}});         
                            }
	     		}

	     	});		
	     }

	     function drawPieCampaignsCreated(start, end, show_loading) {
	     	var data_table = new google.visualization.PieChart(document.getElementById('pie-chart-campaignscreated'));
	     	$.ajax({
	     		url: '{% url internal_analytics_campaignscreated_pie %}?start=' + start + '&end=' + end, 
	     		dataType: "json",
	     		data: {},
	     		success: function(data) {
	     			var json_data = new google.visualization.DataTable(data.data, 0.5);
	     			data_table.draw(json_data, 
	     			     {title: "Discounts vs Raffles",
                                     width: 340, height: 200,   
	     			     is3D: true,
	                             fontSize: 14,
                                     pieSliceText: 'value',
	                             colors:['orange','red']});
	     		},
	     		beforeSend: function() {
	                    if (show_loading) {
                                $("#pie-chart-campaignscreated").showLoading({'afterShow': function(){ setTimeout( "jQuery('#pie-chart-campaignscreated').hideLoading()", 500 );}});         
                            }
	     
	     		}
	     	});		
	     }

             function drawLineShares(start, end, show_loading) {
	        var range_duration = "";
	     	var data_table = new google.visualization.LineChart(document.getElementById('line-chart-totalshares'));
	     	$.ajax({
	     		url: '{% url internal_analytics_totalshares_line %}?start=' + start + '&end=' + end + '&range_duration=' + range_duration, 
	     		dataType: "json",
	     		data: {},
	     		success: function(data) {
	     			var json_data = new google.visualization.DataTable(data.data, 0.5);
	     			data_table.draw(json_data, 
	     			     {title: "Shares Over Time",
	                             width: 540,   
	                             fontSize: 14,
	     			     is3D: true,
                                     pieSliceText: 'value',
                                     colors:['green','blue']});
	     		},
	     		beforeSend: function() {
	                    if (show_loading) {
                                $("#line-chart-totalshares").showLoading({'afterShow': function(){ setTimeout( "jQuery('#line-chart-totalshares').hideLoading()", 500 );}});         
                            }
	     		}
	     
	     	});		
	     }

	     function drawLineReach(start, end, show_loading) {
	        var range_duration = "";
	     	var data_table = new google.visualization.LineChart(document.getElementById('line-chart-totalreach'));
	     	$.ajax({
	     		url: '{% url internal_analytics_totalreach_line %}?start=' + start + '&end=' + end + '&range_duration=' + range_duration, 
	     		dataType: "json",
	     		data: {},
	     		success: function(data) {
	     			var json_data = new google.visualization.DataTable(data.data, 0.5);
	     			data_table.draw(json_data, 
	     			     {title: "Reach Over Time",
	                             width: 540, height: 200,  
	                             fontSize: 14,
	     			     is3D: true,
                                     pieSliceText: 'value',
                                     colors:['green','blue']});
	     		},
	     		beforeSend: function() {
	                    if (show_loading) {
                                $("#line-chart-totalreach").showLoading({'afterShow': function(){ setTimeout( "jQuery('#line-chart-totalreach').hideLoading()", 500 );}});         
                            }
	     		}
	     
	     	});		
	     }

             function drawLineCreated(start, end, show_loading) {
	        var range_duration = "";
	     	var data_table = new google.visualization.LineChart(document.getElementById('line-chart-campaignscreated'));
	     	$.ajax({
	     		url: '{% url internal_analytics_campaignscreated_line %}?start=' + start + '&end=' + end + '&range_duration=' + range_duration, 
	     		dataType: "json",
	     		data: {},
	     		success: function(data) {
	     			var json_data = new google.visualization.DataTable(data.data, 0.5);
	     			data_table.draw(json_data, 
	     			     {title: "Shares Over Time",
	                             width: 540, height: 200,   
	                             fontSize: 14,
	     			     is3D: true,
                                     pieSliceText: 'value',
                                     colors:['green','blue']});
	     		},
	     		beforeSend: function() {
	                    if (show_loading) {
                                $("#line-chart-campaignscreated").showLoading({'afterShow': function(){ setTimeout( "jQuery('#line-chart-campaignscreated').hideLoading()", 500 );}});         
                            }
	     		}
	     
	     	});		
	     }

              google.load("visualization", "1", {packages:["table", "piechart", "corechart"]});
              google.setOnLoadCallback(drawGraphs);


             function drawGraphs() {
	     	drawPieShares($('#datepicker_start_totalshares').val(), $('#datepicker_end_totalshares').val(), false);
	        drawLineShares($('#datepicker_start_totalshares').val(), $('#datepicker_end_totalshares').val(), false);

	     	drawPieReach($('#datepicker_start_totalreach').val(), $('#datepicker_end_totalreach').val(), false);
	        drawLineReach($('#datepicker_start_totalreach').val(), $('#datepicker_end_totalreach').val(), false);

	        drawPieCampaignsCreated($('#datepicker_start_campaigns_created').val(), $('#datepicker_end_campaigns_created').val(), false);
	        drawLineCreated($('#datepicker_start_campaigns_created').val(), $('#datepicker_end_campaigns_created').val(), false);

	        drawBarClicksReshares($('#datepicker_start_clicksreshares').val(), $('#datepicker_end_clicksreshares').val(), false);
	     }


	     // refresh buttons click
	     $('#total_shares_refresh').click(function(){
	     	drawPieShares($('#datepicker_start_totalshares').val(), $('#datepicker_end_totalshares').val(), true);
	        drawLineShares($('#datepicker_start_totalshares').val(), $('#datepicker_end_totalshares').val(), true);
             });

	     $('#total_reach_refresh').click(function(){
	     	drawPieReach($('#datepicker_start_totalreach').val(), $('#datepicker_end_totalreach').val(), true);
	        drawLineReach($('#datepicker_start_totalreach').val(), $('#datepicker_end_totalreach').val(), true);
             });

             $('#campaigns_created_refresh').click(function(){
	        drawPieCampaignsCreated($('#datepicker_start_campaigns_created').val(), $('#datepicker_end_campaigns_created').val(), true);
	        drawLineCreated($('#datepicker_start_campaigns_created').val(), $('#datepicker_end_campaigns_created').val(), true);
             });

	     $('#total_clicks_reshares_refresh').click(function(){
	     	drawPieReach($('#datepicker_start_clicksreshares').val(), $('#datepicker_end_clicksreshares').val(), true);
	        drawLineReach($('#datepicker_start_clicksreshares').val(), $('#datepicker_end_clicksreshares').val(), true);
             });

	     // total shares
	     $('#li-shares-day').click(function(){
	         $("#datepicker_start_totalshares").val('{{day}}');
	         $('#total_shares_refresh').trigger('click');
             });

	     $('#li-shares-week').click(function(){
	         $("#datepicker_start_totalshares").val('{{week}}');
	         $('#total_shares_refresh').trigger('click');
             });
	     
	     $('#li-shares-month').click(function(){
	         $("#datepicker_start_totalshares").val('{{month}}');
	         $('#total_shares_refresh').trigger('click');
             });

             $('#li-shares-all').click(function(){
	         $("#datepicker_start_totalshares").val('{{all}}');
	         $('#total_shares_refresh').trigger('click');
             });


             // total reach
	     $('#li-reach-day').click(function(){
	         $("#datepicker_start_totalreach").val('{{day}}');
	         $('#total_reach_refresh').trigger('click');
             });

	     $('#li-reach-week').click(function(){
	         $("#datepicker_start_totalreach").val('{{week}}');
	         $('#total_reach_refresh').trigger('click');
             });
	     
	     $('#li-reach-month').click(function(){
	         $("#datepicker_start_totalreach").val('{{month}}');
	         $('#total_reach_refresh').trigger('click');
             });

             $('#li-reach-all').click(function(){
	         $("#datepicker_start_totalreach").val('{{all}}');
	         $('#total_reach_refresh').trigger('click');
             });


             // campaigns created
	     $('#li-campaignscreated-day').click(function(){
	         $("#datepicker_start_campaigns_created").val('{{day}}');
	         $('#campaigns_created_refresh').trigger('click');
             });

	     $('#li-campaignscreated-week').click(function(){
	         $("#datepicker_start_campaigns_created").val('{{week}}');
	         $('#campaigns_created_refresh').trigger('click');
             });
	     
	     $('#li-campaignscreated-month').click(function(){
	         $("#datepicker_start_campaigns_created").val('{{month}}');
	         $('#campaigns_created_refresh').trigger('click');
             });

             $('#li-campaignscreated-all').click(function(){
	         $("#datepicker_start_campaigns_created").val('{{all}}');
	         $('#campaigns_created_refresh').trigger('click');
             });

	     // clicks/reshares impressions
	     $('#li-clicks_reshares-day').click(function(){
	         $("#datepicker_start_clicks_reshares").val('{{day}}');
	         $('#clicks_reshares_refresh').trigger('click');
             });

	     $('#li-clicks_reshares-week').click(function(){
	         $("#datepicker_start_clicks_reshares").val('{{week}}');
	         $('#clicks_reshares_refresh').trigger('click');
             });
	     
	     $('#li-clicks-reshares-month').click(function(){
	         $("#datepicker_start_clicks_reshares").val('{{month}}');
	         $('#clicks_reshares_refresh').trigger('click');
             });

             $('#li-clicks-reshares-all').click(function(){
	         $("#datepicker_start_clicks_reshares").val('{{all}}');
	         $('#clicks_reshares_refresh').trigger('click');
             });

</script>


  
{% endblock %}

