/*******************************/
/**** absolute positioning  ****/
/*******************************/
#header #invite-button, #header #greeting, #header #dets, #header #attendees, #header #invitemsg, #header #attendees #msg, #header #links
{
	position: absolute;
}
#main, #header
{
	background-image: url(/simpz/site_media/images/look/body-bg.png);
}
#header
, #header #fuck
{
	height: 686px;
	position: relative;
}
#header #fuck
{
	background: url(/simpz/site_media/images/look/centerboard.png) center top no-repeat;
	width: 980px;
}
#header h1
{
	height: 115px;
	left: 386px;
	top: 121px;
	width: 321px;
}
#header #links
{
	color: #581e92;
	left: 707px;
	top: 12px;
	font-size:12px;
	font-weight: bold;
}
#header #invite-button
{
	left: 277px;
	top: 238px;
}
#header #greeting
{
	font-size: 26px;
	color: #444;
	width: 422px;
	left: 22px;
	top: 178px;
}
#header #greeting #status
{
	font-size: 14px;
	font-weight: bold;
	padding-top: 2px;
	color: #444;
	float: right;
}
#header #invitemsg
{
	font-size: 16px;
	color: #444;
	width: 160px;
	left: 24px;
	top: 244px;
}
#header #dets
{
	background-image: url(/simpz/site_media/images/look/deets.png);
	height: 467px;
	width: 475px;
	left: 487px;
	top: 149px;
}
#header #dets #event-title
{
	padding-top: 33px;
	padding-left: 30px;
	font-size: 24px;
	font-decoration: bold;
	color: #444;
}
#header #dets #info
{
	padding-top: 26px;
	padding-left: 33px;
	font-size: 15px;
	font-weight: bold;
	width: 419px
}
#header #dets #info #right
{
	float: right;
}
#header #dets #goog
{
	padding-top: 15px;
	padding-left: 33px;
}
#header #dets #goog img
{
border:1px solid #ccc;
}

#header #invite-button>div:first-child
{
	background-position: left top;
	height: auto;
	padding: 20px 0 6px;
}
#header #attendees
{
	background-image: url(/simpz/site_media/images/look/attendees.png);
	height: 234px;
	width: 466px;
	left: -1px;
	top: 376px;
}
#header #attendees #msg
{
	font-weight: bold;
	color: #444;
	font-size: 15px;
	left: 24px;
	top: 20px;
}
#content
{
	background: #fff;
}
#content-main h2
{
	color: #7a7a7a;
	font-size: 1.4em;
	padding-bottom: 0;
	text-transform: uppercase;
}
img
{
	border: 0;
	text-decoration: none;
}
