
#wrapper
{
	background-image: url(/simpz/site_media/images/look/body-bg.png);
	background-repeat: repeat-x;
}
#backgroundIMG
{
	background: url(/simpz/site_media/images/look/centerboard.png) center top no-repeat;
	border-width:1px;
	width: 980px;
	margin: 0 auto;
	align: center;
}
#header
{
	height: 29px;
	padding-top: 9px;
}
#links
{
	color: #581e92;
	font-size:12px;
	font-weight: bold;
}

#rTop
{
	padding-top: 145px;
	padding-left: 20px;
	height: 200px;
}
#lanyardHeader
{
    height: 35px;
}
#lanyardBody
{
    height: 80px;
}
#lanyardFooter
{
    height: 50px;
}
#lTop
{
    margin-top: 111px;
}
#lTopHeader
{
	height: 70px;
	background-image: url(/simpz/site_media/images/look/ptop.png);
	background-repeat: no-repeat;
}
#lTopBody
{
	background-image: url(/simpz/site_media/images/look/pmid.png);
	background-repeat: repeat-y;
}
#lTopFooter
{
	background-image: url(/simpz/site_media/images/look/pbot.png);
	background-repeat: no-repeat;
	height: 46px;
}
#lTopHeader > div, #lTopBody > div, #lTopFooter > div
{
    padding-left: 27px;
}
#lTopHeader > div
{
    padding-top: 30px;
}
a:link {
	text-decoration: none; 
	font-weight: bold; 
	color: #581e92;
}
a:visited {
	text-decoration: none; 
	color: #581e92;
}
a:active {
	text-decoration: none; 
	color: #581e92;
}
a:hover {
	text-decoration: none; 
	color: #581e92;
}

#attendees
{
	background-image: url(/simpz/site_media/images/look/attendees.png);
	height: 234px;
	width: 466px;
	left: -1px;
	top: 376px;
}
#attendees #msg
{
	font-weight: bold;
	color: #444;
	font-size: 20px;
	left: 25px;
	top: 20px;
	position: relative;
}


#dets
{
	background-image: url(/simpz/site_media/images/look/deets.png);
	height: 467px;
	width: 475px;
	left: 487px;
	top: 149px;
	position: relative;
}
#dets #event-title
{
	padding-top: 33px;
	padding-left: 30px;
	font-size: 24px;
	font-decoration: bold;
	color: #444;
}
#dets #info
{
	padding-top: 26px;
	padding-left: 33px;
	font-size: 15px;
	font-weight: bold;
	width: 419px
}
#dets #info #right
{
	float: right;
}
#dets #goog
{
	padding-top: 15px;
	padding-left: 33px;
}
#dets #goog img
{
border:1px solid #ccc;
}
