img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }

.centered {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    font-family: "Lucida Grande","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #393E43;
    font-size: 14px;
}
