div.top_login{
	background-color:#FBF5EF;			
}

.header{
	text-align: center;
}

h1#header_invite {
    color: #9CB926;
    border-style:solid;
    border-color:#DDDDDD #CCCCCC #CCCCCC #DDDDDD;
    border-right:0 solid #CCCCCC;
    text-shadow:2px 2px #719E03;
}

.button  {
-moz-border-radius:5px 5px 5px 5px;
background:url("images/button_bg1.png") repeat-x scroll center top #9cb926;
border-color:#DDDDDD #CCCCCC #CCCCCC #DDDDDD;
border-right:0 solid #CCCCCC;
border-style:solid;
border-width:0;
color:#FFFFFF;
cursor:pointer;
font-size:22px;
height:48px;
line-height:42px;
margin:0;
overflow:visible;
padding:0 15px;
text-shadow:2px 2px #719E03;
}
.button2  {
-moz-border-radius:5px 5px 5px 5px;
background:url("images/button_bg2.png") repeat-x scroll center top #ff8a00;
border-color:#DDDDDD #CCCCCC #CCCCCC #DDDDDD;
border-right:0 solid #CCCCCC;
border-style:solid;
border-width:0;
color:#FFFFFF;
cursor:pointer;
font-size:22px;
height:48px;
line-height:42px;
margin:0;
overflow:visible;
padding:0 15px;
text-shadow:2px 2px #666;
}
.yourprice{
	float: left;
	font-size: 1.8em;
	padding-left: 20px;
}
.genprice{
	float: right;
	font-size: 1.8em;
	padding-right: 20px;
}
.attending{
	font-size: 1.2em;
}
#title{
	font-size: 3em;
	text-align: center;
}
#details{
	font-size: 1.5em;
	color: #666;
	text-align: center;
}
img.left {
float:left;
}
img.right {
float:right;
}
img.center {
display:block;
margin-left:auto;
margin-right:auto;
}
/***********Invite Box**************************************/
div.transbox{
	width: 860px;
	height: 500px;
	border: dashed grey 1px;
	position: absolute;
	left: 250px;
	top: 50px;
	padding: 20px;
  	color:#000000;
	background-color: #eeeeee;
  /* for IE */
  filter:alpha(opacity=96);
  /* CSS3 standard */
  opacity:0.96;
}
.fbfriends{
	float: left;
	width: 430px;	
}
.simple_overlay{
	display:none;
	z-index:10000;
	border:1px solid #666;	
	background-color:#FBF5EF;	 
	width: 700px;
	height: 430px;
	padding: 35px;

    /* CSS3 styling for latest browsers */	 
    -moz-box-shadow:0 0 90px 5px #000; 
    -webkit-box-shadow: 0 0 90px #000;
}

.simple_overlay .close{ 	
		     background-image:url(images/close.png);
		     position: absolute;
		     right: 5px;
		     top: 5px;  
		     cursor:pointer;
		     height:35px;
		     width: 35px;
}

/* footer styling */
div.myfooter {
	   background-color: #eeeeee;
	   //background-color:#FBF5EF;		
	   text-align: center;
	   margin: auto ;

}

.myfooter li{
	display:inline;
	list-style-type: none;	
}

.myfooter a {
	display:block;
	float: left;
	padding: 0 2em;
}



div.time-picker {
  position: absolute;
  height: 200px;
  width:4em; /* needed for IE */
  overflow: auto;
  background: #fff;
  border: 1px solid #000;
  z-index: 99;
}
div.time-picker-12hours {
  width:6em; /* needed for IE */
}

div.time-picker ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
div.time-picker li {
  padding: 1px;
  cursor: pointer;
}
div.time-picker li.selected {
  background: #316AC5;
  color: #fff;
}

div.image_preview {
	width: 200px;
	height: 200px;
	border: 1px solid #000;
	text-align: center;
}
div.image_preview  img{
	width: 200px;
	height: 200px;
}

div#twitlist {
    overflow: auto;
    height: 200px;
    width: 100 px;
    margin: 0 0 0 0;
}

div#tweet_msg {
    background: #CCCCCC;
    height: 25px;
    border: 1px #00CCFF solid;
    text-align: center;
    margin: 2px;
    color: #0066CC;
    font-size: large;
    margin-right: -1px;
}

#tweet_text {
    border: 1px #00CCFF solid;
    #float: left;
    font-size: 80%;
    text-align: center;
    padding: 0;
    font-style: italic;
    line-height: 100%;
    wrap: soft;
    color: #0066CC;
}

div#tweet_title {
    font-size: x-large; 
}

button#tweet_invite_button {
    margin-left: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: -6px;
}

div#refer_info_box {
    height: 50px;
    background:#FFF6BF;
    #color:#514721;
    color:#3333FF;
    border-color:#FFD324;
    padding:.8em;
    margin-bottom:1em;
    border:2px solid #FFD324;
    text-align: center;
    font-size: large;
    
}

span#friend_name_text {
    font-size: x-large;
    color: #999900;
    padding: 0;
    margin: 0;
}

ul#friend_list {
    padding: 0px 20px 2px 20px;
    margin: 0 0 0 0;
}

li.friend_list_item {
    padding: 2px 2px 2px 2px;
    margin: 0;
    list-style-type:none;
    border-bottom: 2px solid #00CCFF;
    cursor: pointer;
}

li:hover {
  background-color: #fd9;
}

img.checkbox_invite {
    float: right;
    padding-right: 20px;
    padding-top: 5px;
}


/* root element for tabs  */
ul.tabs {  
    margin:0 !important; 
    padding-bottom: 5px;
    padding-left: 10px;
    height:30px;
    #border-bottom:1px solid #666; 
}

/* single tab */
ul.tabs li {  
    float:left; 
    padding: 0; 
    margin:0;  
    list-style-type:none;
}

/* link inside the tab. uses a background image */
ul.tabs a { 
    float:left;
    font-size:18px;
    display:block;
    padding:5px 80px 10px 80px;
    text-decoration:none;
    border:1px solid #666;
    border-bottom:0px;
    height:18px;
    background-color:#efefef;
    color:#777;
    margin-right:2px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright:4px;
    position:relative;
    top:1px;
}

ul.tabs a:hover {
    background-color:#F7F7F7;
    color:#333;
}

/* selected tab */
ul.tabs a.current {
    background-color:#ddd;
    #border-bottom:2px solid #ddd;
    color:#000;
    cursor:default;
}


/* tab pane */
.panes div {
    //display:none;
    //border:1px solid #666;
    //border-width:0 1px 1px 1px;
    //min-height:150px;
    //padding:15px 20px;
    //background-color:#ddd;
}


a.no_underline {
    text-decoration: none;
}

a.select_all_arrow {
    margin: 0 0 0 589px;
}

hr.horizontal_line {
    margin: 0;
    padding: 0;
}