<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta http-equiv="Content-Style-Type" content="text/css">
<title>CollectiveVIP - Beta</title>
<link type="text/css" href="{% url static 'css/frontpage_style.css' %}" rel="stylesheet">
</head>

<body>
<img class="displayed" src="{% url static 'images/frontpage_collective_logo.jpeg' %}">
<div class="centered">
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="545" height="431" id="viddler_7c6b3c26"><param name="movie" value="http://www.viddler.com/simple/7c6b3c26/" /><param name="allowScriptAccess" value="always" /><param name="allowFullScreen" value="true" /><embed src="http://www.viddler.com/simple/7c6b3c26/" width="545" height="431" type="application/x-shockwave-flash" allowScriptAccess="always" allowFullScreen="true" name="viddler_7c6b3c26"></embed></object>


</div>

</body>
</html>
