{% extends "site_base.html" %}

{% block title %}Event Promotions - Viral Incentive Referrals Tool{% endblock %}

{% block  js_css_include %}
<link type="text/css" href="{% url static 'css/frontpage_style.css' %}" rel="stylesheet">
{% endblock %} 

{% block site-content %}
<br/><br/>
<div id="frontpage-header-div">
Convert Event Attendees Into Evangelists <br /><br /><br />...So That Your Events Sell Out <a href="{% url howitworks %}">Learn More</a>
</div>

<br/><br/><br/><br/><br/>
<div id="tryit-div">
<br/>Try It Now&nbsp;&nbsp;&nbsp;(It's Free)
<!--<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="545" height="383" id="viddler_251a4028"><param name="movie" value="http://www.viddler.com/player/251a4028/" /><param name="allowScriptAccess" value="always" /><param name="allowFullScreen" value="true" /><embed src="http://www.viddler.com/player/251a4028/" width="545" height="383" type="application/x-shockwave-flash" allowScriptAccess="always" allowFullScreen="true" name="viddler_251a4028"></embed></object>-->
</div>


<div id="ripple-widget-sample">
<div id='ripple-embed'>86</div><script type='text/javascript' src='http://www.ripplefunction.com/site_media/javascript/embed-iframe.js' ></script>
</div>

<!--<div id="social-plugin">
<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FRippleFunction%2F155806427771546&amp;layout=standard&amp;show_faces=true&amp;width=450&amp;action=recommend&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe>
</div>-->

<script>
$("#tryit-div").click(function(){
    location.href = '{%url create_campaign%}';
});

$("#tryit-div").hover(function(){
    $(this).css({"font-size":"30px"});
    
}, function(){
    $(this).css({"font-size":"26px"});
});
</script>


{% endblock %}


