<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=iso-8859-1" />
    <meta http-equiv="Content-Language" content="en-us" />

    <link rel="stylesheet" href="/site_media/styles.css" />
    <script type="text/javascript" src="/site_media/jquery-1.4.2.min.js"></script>
    <title>{% block title %}My amazing site{% endblock %}</title>
</head>

<body>
<script src="http://static.ak.connect.facebook.com/connect.php/en_US" type="text/javascript"></script>
<script type="text/javascript">FB.init("ab791fa270c8dda4bece7d38abe5b580");</script>
<fb:login-button v="2" size="medium" onlogin="window.location.reload(true);">Login with Facebook</fb:login-button>
<fb:profile-pic uid="loggedinuser" size="square" facebook-logo="true"></fb:profile-pic>
<fb:name uid="loggedinuser" useyou="false" linked="true"></fb:name>
<div id="profile_pics"></div>
<script type="text/javascript">
/*
var widget_div = document.getElementById("profile_pics");
FB.ensureInit(function () {
  FB.Facebook.get_sessionState().waitUntilReady(function() {
  FB.Facebook.apiClient.friends_get(null, function(result) {
    var markup = "";
    var num_friends = result ? Math.min(100, result.length) : 0;
    if (num_friends > 0) {
      for (var i=0; i<num_friends; i++) {
				   markup +=
          '<fb:profile-pic size="square" uid="'+result[i]+'" facebook-logo="true"></fb:profile-pic>';
      }
    }
    widget_div.innerHTML = markup;
    FB.XFBML.Host.parseDomElement(widget_div);
  });
  });
});*/
</script>


  <div id="body_wrapper">
    <div id="body_header">
      <h1>EventSpread</h1>
    </div>  
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/list/">Browse</a></li>
            <li><a href="/create/">Create</a></li>
            <li><a href="/register/">Register</a></li>
            <li><a href="/about/">About Us</a></li>
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
    </div>

<div id="page_footer"> 
Event Registration included! 
</div> 
</body>
</html>
