<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=iso-8859-1" />
    <meta http-equiv="Content-Language" content="en-us" />

    <link rel="stylesheet" href="/site_media/mike-styles.css" />
    <script type="text/javascript" src="/site_media/jquery-1.4.2.min.js"></script>

    <link rel="stylesheet" href="/site_media/jquery.ptTimeSelect.css" />
    <script type="text/javascript" src="/site_media/jquery.ptTimeSelect.js"></script>

    <link rel="stylesheet" href="/site_media/jquery.calendar.css" type="text/css" media="screen" />
    <script type="text/javascript" src="/site_media/jquery.calendar.js"></script>


    <title>{% block title %}My amazing site{% endblock %}</title>
</head>

<body>

  <div id="body_wrapper">
    <div id="body_header">
      <h1>EventSpread</h1>
    </div>
  

    <div id="content">
        {% block content %}{% endblock %}
    </div>
    </div>

<div id="page_footer"> 
Event Registration included! 
</div>
{% block jscript %}
{% endblock %} 
</body>
</html>
