{% extends "event_base.html" %}

{% block  js_css_include %}
	<script type="text/javascript" src="/site_media/jquery-ui-1.8.1.custom.js"> 
 </script>
<script type="text/javascript" src="/site_media/jquery.ui.datepicker.js"> </script>
<script type="text/javascript" src="/site_media/jquery.timePicker.js"> </script>

	<link rel="stylesheet" href="/site_media/calendar-system.css" type="text/css" >
	<link rel="stylesheet" href="/site_media/calendar-en.css" type="text/css" >
	<link rel="stylesheet" href="/site_media/jquery.calendar.css" type="text/css" >
<link rel="stylesheet" href="/site_media/jquery.ptTimeSelect.css" type="text/css" >	
<link type="text/css" href="/site_media/jquery-ui-1.8.1.custom.css" rel="Stylesheet" />

{% endblock %} 


{% block title %}Create{% endblock %}

{% block content %}
<h1>Create Event</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="/create/" method="post">
  <ul>
    <li>
		<label for="event_name">Event Name:</label> 
		<input type="text" name="event_name" id="event_name" />
	</li>
	
    <li>
      <label for="event_date_start">Event Start Date:</label> 
      <input type="text" name="event_date_start" id="event_date_start" />
      
      <label for="event_time_start">Time:</label> 
      <input type="text" name="event_time_start" id="event_time_start" />
    </li>

    <li>
      <label for="event_date_end">Event End Date:</label> 
      <input type="text" name="event_date_end" id="event_date_end"/>
          
      <label for="event_time_end">Time:</label> <input type="text" name="event_time_end" id="event_time_end" />
    </li>

    <li>
		<label for="event_capacity">Event Capacity:</label> <input type="text" name="event_capacity" />
	</li>
	
    <li>
		<label for="event_venue">Event Venue:</label> <input type="text" name="event_venue" />
	</li>
	
    <li>
		<label for="event_address">Venue Address:</label> 
		<textarea rows="2" cols="30" name="event_address" ></textarea>
	</li>
	
    <li>
		<label for="event_description">Event Description:</label> 
		<textarea rows="6" cols="40" name="event_description"> </textarea>
	</li>
	
    <li>
		<label for="event_price">Event Price:</label> <input type="text" name="event_price" />
	</li>
	
    <li>
		<label for="event_url">Event URL:</label> <input type="text" name="event_url" />
	</li>
    

    <br /><br />
	<h3>Organizer Info:</h3>
    
	<li>
		<label for="person_email">Organizer Contact Email:</label> <input type="text" name="person_email" />
	</li>

  </ul>

  <br />
<input type="submit" value="Create Event" />
</form>



<script>


$(document).ready(function() {
		$('#event_name').focus();	                			
		$('#event_date_start').datepicker({ buttonImageOnly: false,
			 					buttonImage: '/site_media/images/calendar.png',
								showOn: 'button'});
		$('#event_date_end').datepicker({ buttonImageOnly: false,
							    buttonImage: '/site_media/images/calendar.png',
								showOn: 'button'});
		$("#event_time_start").timePicker({
				show24Hours: false,
				separator: ':',
	    		step: 15});
		$("#event_time_end").timePicker({
				show24Hours: false,
				separator: ':',
	    		step: 15});
});
</script>

{% endblock %}
