{% extends "event_base.html" %}

{% block  js_css_include %}
	<script type="text/javascript" src="/site_media/jquery-ui-1.8.1.custom.js"> 
 </script>
<script type="text/javascript" src="/site_media/jquery.ui.datepicker.js"> </script>
<script type="text/javascript" src="/site_media/jquery.timePicker.js"> </script>
<script type="text/javascript" src="/site_media/ajaxfileupload.js"> </script>
<script type="text/javascript" src="/site_media/jquery.uploadify.js"> </script>

	<link rel="stylesheet" href="/site_media/calendar-system.css" type="text/css" >
	<link rel="stylesheet" href="/site_media/calendar-en.css" type="text/css" >
	<link rel="stylesheet" href="/site_media/jquery.calendar.css" type="text/css" >
<link rel="stylesheet" href="/site_media/jquery.ptTimeSelect.css" type="text/css" >	
<link type="text/css" href="/site_media/jquery-ui-1.8.1.custom.css" rel="Stylesheet" />


{% endblock %} 


{% block title %}Create{% endblock %}

{% block content %}
<h1>Create Event</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form id="createForm" action="/create/" method="post">
  <ul>
    <li>
		<label for="event_name">Event Name:</label> 
		<input type="text" name="event_name" id="event_name" class="required" />
	</li>
	
    <li>
      <label for="event_date_start">Event Start Date:</label> 
      <input type="text" name="event_date_start" size="12" id="event_date_start" class="required" />
      
      <label for="event_time_start">Time:</label> 
      <input type="text" name="event_time_start" size="8" id="event_time_start" class="required"/>
    </li>

    <li>
      <label for="event_date_end">Event End Date:</label> 
      <input type="text" name="event_date_end" size="12" id="event_date_end" class="required" />
          
      <label for="event_time_end">Time:</label> 
      <input type="text" size="8" name="event_time_end" id="event_time_end" class="required"/>
    </li>

    <li>
		<label for="event_capacity">Target # of Invites:</label> <input type="text" class="digits" name="event_capacity" />
	</li>
	
    <li>
		<label for="event_venue">Event Venue:</label> <input type="text" name="event_venue" />
	</li>
	
    <li>
		<label for="event_address">Venue Address:</label> 
		<textarea rows="2" cols="30" name="event_address" ></textarea>
	</li>
	
    <li>
		<label for="event_description">Event Description:</label> 
		<textarea rows="6" cols="40" name="event_description"> </textarea>
	</li>
	
    <li>
		<label for="event_price">Event Price:</label> <input type="text" class="number" name="event_price" />
	</li>
<li>
		<label for="event_discount">Early Bird Discounted Price:</label> <input type="text" class="number" name="event_discount" />
	</li>
	
    <li>
		<label for="event_url">Event URL:</label> <input type="text" name="event_url" class="url" />
	</li>
	<li>
		<label for="image">Event Image:</label> 
		<input name="image" id="image" type="file" onChange="ajaxFileUpload(this.value);"> </input>
		<div class="image_preview"><br/><br/><br/><br/>Image Preview</div></p>
	</li>
    <input type="hidden" value="" name="event_image" id="event_image"></input>

    <br /><br />
	<h3>Organizer Info:</h3>
    
	<li>
		<label for="person_email">Organizer Contact Email:</label> <input type="text" name="person_email" class="required email" value="{{user.email}}" />
	</li>

  </ul>

  <br />
<input type="submit" value="Create Event" />
</form>


<script>
function init() {
	document.getElementById('file_upload_form').onsubmit=function() {
		document.getElementById('file_upload_form').target = 'upload_target'; //'upload_target' is the name of the iframe
	}
}
window.onload=init;

function ajaxFileUpload(file_name)
{
        //starting setting some animation when the ajax starts and completes
        $("div.image_preview")
           .ajaxStart(function(){
                $(this).html("<img src='/site_media/images/ajax-loader.gif' />");
        })
           .ajaxComplete(function(){ 
	            $(this).html("<img src='/site_media/images/tmp/{{user.id}}_" + file_name + "'  />");
				$('#event_image').val(file_name);
        });

        /*
                prepareing ajax file upload
                url: the url of script file handling the uploaded files
                fileElementId: the file type of input element id and it will be the index of  $_FILES Array()
                dataType: it support json, xml
                secureuri:use secure protocol
                success: call back function when the ajax complete
                error: callback function when the ajax failed

        */
        $.ajaxFileUpload
        (
                {
                        url:'/upload_image',
                        secureuri:false,
                        fileElementId:'image',
                        dataType: 'json',
                        success: function (data, status)
                        {
                                if(typeof(data.error) != 'undefined')
                                {
                                        if(data.error != '')
                                        {
                                                alert(" error1 " + data.error);
                                        }else
                                        {
                                                alert("no error " + data.msg);
                                        }
                                }
                        },
                        error: function (data, status, e)
                        {
                                alert("error2 " + e + data + status);
                        }
                }
        )

        return false;

}


$(document).ready(function() {
                $("#createForm").validate();
		$('#event_name').focus();	                			
		$('#event_date_start').datepicker({ buttonImageOnly: false,
			 					buttonImage: '/site_media/images/calendar.png',
								showOn: 'both',
								onSelect: 
									function(dateText, inst) { 
										if ($.trim($('#event_date_end').val()) == ""){
											$('#event_date_end').val(dateText);
										}}});
		$('#event_date_end').datepicker({ buttonImageOnly: false,
							    buttonImage: '/site_media/images/calendar.png',
								showOn: 'both'});
		$("#event_time_start").timePicker({
				show24Hours: false,
				separator: ':',
	    		step: 15});
		$("#event_time_end").timePicker({
				show24Hours: false,
				separator: ':',
	    		step: 15});
});
</script>

{% endblock %}
