<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=iso-8859-1" />
    <meta http-equiv="Content-Language" content="en-us" />

    <script type="text/javascript" src="/site_media/jquery-1.4.2.min.js"></script>

    <link rel="stylesheet" href="/site_media/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/site_media/blueprint/print.css" type="text/css" media="print">

    <title>{% block title %}My amazing site{% endblock %}</title>
</head>

<body>
  <div class="container">
    <div class="span-24 last">
      Header
    </div>

    <div class="span-16">
      Main Content
    </div>

    <div class="span-8 last">
      Right Sidebar
      <div id="visual">
	<img src="/site_media/images/background_top.gif" width="300px" height="450px"/>
      </div>
      <div id="title">
	PyCon 2010
      </div>
      <div id="details">
	Marriot Hotel, Chicago, @7pm EST 
      </div>
    </div>


    <div class="span-24 last">
      @Copyright EventSpread 2010.
    </div>
</div>

</body>
</html>
