{% extends "event_base.html" %}


{% block title%} {{event.name}}{% endblock %}

{% block company %} EventSpread{% endblock%}

{% block event_title %} {{event.name}}{% endblock%}

{% block event_venue %} {{event.venue}}{% endblock%}




{% block login%}
{% if user %}
<div class="span-4 logout"><a href="/logout/">logout, {{user.username}} <img src="{{user.profile_pic}}" /></a></div>
{% else %}
<div class="span-4 logout"><a href="/login/"><img src="/site_media/images/twitter_button_5_lo.gif/" /></a><br/<br/>></div>
{% endif %}
{% endblock %}



{% block header_notice %}
{%if user%}
      <div class="header notice">
      	<h1>hello {{user.name}}!</h1>
	<div class="quiet"><font size = 4.5em>you and your friends are 19 points away from a prize</font></div>
	<BR>
	  
	  <input type="submit" class="button" value="Count me In!"> &nbsp; &nbsp;
	    <input type="submit" class="button2" value="Interested">
	    </div>
{% else %}
      <div class="header notice">
      	<h1>Hello There!</h1>
	<div class="quiet"><font size = 4.5em>There are {{event.num_attendees}} attending this event.</font></div>
	<BR>
	  
	  <input type="submit" class="button" value="Login: See if your friends are going." onClick="location.href='/login/'"> &nbsp; &nbsp;
	    </div>
{% endif%}

{% endblock %}



{% block footer %}
@Copyright EventSpread 2010.
{% endblock %}
