{% extends "event_base.html" %}



	{% block  js_css_include %}
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key={{map_key}}" type="text/javascript" > </script>
	{% endblock %}




{% block title  %}
{{event.name}}
{% endblock %}


{% block content %}
<!-- Content starts here -->
<div class="span-12">

{%if user%}

  {% if going %}
      <div class="header notice">
      	<h1>hello {{user.name}}!</h1>
	<div id="header_msg" class="quiet"><font size = 4.5em>You are planning to go to this event.</font></div>
	<BR>
	  
	<input id="not_going_button" type="submit" class="button" value="Can't make it :(" > &nbsp; &nbsp;
	<button href="#" id="invite_button" class="button2" rel="#invite_popup">Invite Friends!</button>
	
	  
      </div>
  {% else %}
      <div class="header notice">
      	<h1>hello {{user.name}}!</h1>
	<div id="header_msg" class="quiet"><font size = 4.5em>you and your friends are 19 points away from a prize</font></div>
	<BR>
	  
	<input id="going_button" type="submit" class="button" value="Count me In!"> &nbsp; &nbsp;
	<button href='#' id="invite_button" class="button2" rel="#invite_popup">Tell Friends</button>
      </div>
  {% endif%}
{% else %}
      <div class="header notice">
      	<h1>Hello There!</h1>
	<div id="header_msg" class="quiet"><font size = 4.5em>There are {{event.num_attendees}} attending this event.</font></div>
	<BR>
	  
	<input id="login_button" type="submit" class="button" value="Login: See if your friends are going." onClick="location.href='/login/'"> &nbsp; &nbsp;
      </div>
{% endif%}


{% if refer_user %}

<div id="refer_info_box">
You have been Invited by {{refer_user.name}} &nbsp;&nbsp;<img src="{{refer_user.profile_pic}}" />
</div>

{% endif %}


<div id="invite_popup" class="simple_overlay">

    <h1 id="header_invite">Invite Your Friends!</h1>
    <div class="twitterfriends">
      <div id="tweet_title">&nbsp;Twitter Friends&nbsp;&nbsp;<input type="text" id="tweet_text" maxlength="140" size="30"></input><button id="tweet_invite_button">Tweet Invite</button></div>
      <div id="tweet_msg"></div>
      <div id="twitlist"><img src="/site_media/images/ajax_loader.gif" /></div>
    </div>
    
    <BR />
    <input id="invite_dm_button" type="submit" class="button" value="Invite my friends" />
</div>


<BR />
		
<div class="yourprice">
  {% if going %}
  You Paid:
  {% else %}
  Your Price: 
  {% endif %}

  <font color=#9cb926>${{event.discount_price}}</font></div>
<div class="genprice">General Price: <font color=#ff8a00>${{event.price}}</font></div>
	
<BR /><BR /><BR />

<div class="attending">Attendees <font class="quiet">(<b>{{event.spots_left}}</b> Spots Left out of <b>{{event.capacity}}</b>!)</font></div>
		    
      <div class="attenddees">
{% for attendee in attendees %} 


<a href="#">
<img src="{{attendee.profile_pic}}" /> 
</a>
&nbsp;




{% endfor %}
      </div>

</div>
		
<div class="span-1">&nbsp;</div>		  
<div class="span-11 last">
	      
  <div id="visual_img" style="width: 400px; height: 500px;">
    <img class="center" style="width: 400px; height: 500px;" src="/site_media/images/events/{{event.id}}" />
  </div>

  <div id="visual_map" style="width: 400px; height: 500px;" > </div>						
	      
  <div id="title">
    {{event.name}}
  </div>
  <div id="details">
    {{event.venue}}, {{event.venue_address}}
		

    <a id="show_map" href="#"></a>
    <br />{{event.time}} 
  </div>
</div>





<script>
$(document).ready(function() {

	$("#invite_popup_close").bind('click', function() {
		$('#invite_popup').hide();
                $('#tweet_msg').html("");
		$('#twitlist').html("<img width='30' height='30' src='/site_media/images/ajax_loader.gif' />");
	 });


	$("#not_going_button").click(function(){
		$.get('/ajax/event_not_going/{{event.id}}', function(data) {
			location.reload();
		    });
	    });
			
	$("#going_button").click(function(){
		$.get('/ajax/event_going/{{event.id}}', function(data) {
			location.reload();
		    });
	    });

       $("#tweet_invite_button").click(function(){
		$.ajax({
                    url: '/ajax/event_tweet_invite/{{event.id}}', 
                    dataType: "json",
                    data: {data: $("#tweet_text").val(), 
                    invite_url: '{{invite_url}}',
                          }, 
                    success: function(data){
                        $("#tweet_msg").html("Tweet Sent Succesfully");
                        $("#tweet_text").val(data["msg"]);
	        	     },
                    beforeSend: function() {
                        $("#tweet_invite_button").attr("disabled","disabled");                               
                        $("#tweet_msg").html("<img width='20' height='20' src='/site_media/images/ajax-loader.gif' />Sending Tweet<img width='20' height='20' src='/site_media/images/ajax-loader.gif' />");
                    }
                   });
	    });

	$("#invite_button").overlay(
				    {
					expose: {
					    loadSpeed: 200,
						color: 'gray',
						opacity: 0.8
						},
					onLoad: function(event) {
                                                $("#tweet_msg").html("");
                                                $("#tweet_text").val("TEST: Dicounted Invite to my Friends.");
                                                $("#tweet_invite_button").removeAttr("disabled");
						display_friends_invite();
                                                                                                
					}
				    }); 

        $('#invite_dm_button').click(function() {
            var selected_users = [];
            $("input:checked").each(function(index) {
                 selected_users.push($(this).val()); 
            });

            $.ajax({
                    url: '/ajax/event_tweet_invite_dm/{{event.id}}', 
                    dataType: "json",
                    data: {data: $("#tweet_text").val(), 
                    invite_url: '{{invite_url}}',
                    invited_friends: selected_users.toString(),
                          }, 
                    success: function(data){
                        $("#tweet_msg").html("Tweets Sent Succesfully");
                        $("#tweet_text").val(data["msg"]);
                        $("#invite_dm_button").removeAttr("disabled");                      
	        	     },
                    beforeSend: function() {
                        $("#invite_dm_button").attr("disabled","disabled");                      
                        $("#tweet_msg").html("<img width='20' height='20' src='/site_media/images/ajax-loader.gif' />Sending Direct Msg Tweets<img width='20' height='20' src='/site_media/images/ajax-loader.gif' />");
                    }
                   });
        });
			
    
	$("#visual_map").hide();
	$("#show_map").html("(Show Map)");

        //$("li").toggle(function() {
        //    alert('First handler for .toggle() called.');
        //}, function() {
        //    alert('Second handler for .toggle() called.');
        //});

	if (GBrowserIsCompatible()) {
	    var map = new GMap2(document.getElementById("visual_map"));
	    map.setCenter(new GLatLng(37.4419, -122.1419), 13);
	    map.setUIToDefault();
	}			


	$("#show_map").click(function() {

		if ($("#visual_img").is(":visible")) {

		    $("#visual_img").hide(500);
			
		    $("#visual_map").show(500, function() {
			   
			    if (GBrowserIsCompatible()) {
				var map = new GMap2(document.getElementById("visual_map"));
				map.setCenter(new GLatLng(37.4419, -122.1419), 13);
				map.setUIToDefault();
			    }
			});
		

		    $("#show_map").html("(Hide Map)");
		}else {
		    $("#visual_img").show(500);
		    $("#visual_map").hide(500);
		    $("#show_map").html("(Show Map)");
		}
	    });
    });


function display_friends_invite() {
            $.ajax({
                    url: '/ajax/event_friend_not_attendees/{{event.id}}', 
                    dataType: "json",
                    success: function(data){
                               $('#twitlist').html(make_friend_list(data));
                               $('#tweet_msg').html("Invite Your Friends");
                              
                               $("input[name='invitee']").click(function() {
                                   if ($(this).is(':checked')) {
                                       alert("It is checked");
                                       $(this).attr("checked", "yes");  
                                       
                                   } else {
                                       alert("it is NOT checked");
                                       $(this).removeAttr("checked");
                                   }      
                               });
                               
                               $(".friend_list_item").toggle(function() {
                                   $(this).css("background-color", "#FF9933");    
                                   $(this).hover(function(){
                                         $(this).css("background-color", "#FF9933");
                                   },
                                   function(){
                                         $(this).css("background-color", "#FF9933");
                                   }
                                   );
                                   alert("Checking to yes");
                                   $(this).find("input[name='invitee']").attr("checked", "yes");
                                   alert("now checked?");
                               }, function() {
                                   $(this).css("background-color", "#fd9");
                                   $(this).hover(function(){
                                         $(this).css("background-color", "#fd9");
                                   },
                                   function(){
                                         $(this).css("background-color", "#FBF5EF");
                                   }
                                   );
                                   alert("unchecking");
                                   $(this).find("input[name='invitee']").removeAttr("checked");
                               });
	                       
	        	     },
                    beforeSend: function() {
                        $('#tweet_msg').html("<img width='20' height='20' src='/site_media/images/ajax-loader.gif' />Loading Friend Data<img width='20' height='20' src='/site_media/images/ajax-loader.gif' />");
                    }
                   });
 
}
</script>
<!-- Content ends here -->
{% endblock %}












