{% extends "event_base.html" %}

{% block title%} {{event.name}}{% endblock %}

{% block company %} <img height="200" src="/site_media/images/logo.png" />{% endblock%}

{% block event_title %} {{event.name}}{% endblock%}

{% block event_venue %} {{event.venue}}{% endblock%}




{% block login%}
{% if user %}
<div class="span-4 logout"><a href="/logout/">logout, {{user.username}} <img src="{{user.profile_pic}}" /></a></div>
{% else %}
<div class="span-4 logout"><a href="/login/"><img src="/site_media/images/twitter_button_5_lo.gif/" /></a><br/><br/></div>
{% endif %}
{% endblock %}



{% block header_notice %}
{%if user%}

  {% if going %}
      <div class="header notice">
      	<h1>hello {{user.name}}!</h1>
	<div id="header_msg" class="quiet"><font size = 4.5em>You are planning to go to this event.</font></div>
	<BR>
	  
	<input id="not_going_button" type="submit" class="button" value="Can't make it :(" > &nbsp; &nbsp;
	<button href="#" id="invite_button" class="button2" rel="#invite_popup">Invite Friends!</button>
	
	  
      </div>
  {% else %}
      <div class="header notice">
      	<h1>hello {{user.name}}!</h1>
	<div id="header_msg" class="quiet"><font size = 4.5em>you and your friends are 19 points away from a prize</font></div>
	<BR>
	  
	
	<input id="going_button" type="submit" class="button" value="Count me In!"> &nbsp; &nbsp;
	<input id="maybe_going_button" type="submit" class="button2" value="Interested" onClick="location.href='/ajax/maybe_going/{{event.id}}'">
      </div>
  {% endif%}
{% else %}
      <div class="header notice">
      	<h1>Hello There!</h1>
	<div id="header_msg" class="quiet"><font size = 4.5em>There are {{event.num_attendees}} attending this event.</font></div>
	<BR>
	  
	<input id="login_button" type="submit" class="button" value="Login: See if your friends are going." onClick="location.href='/login/'"> &nbsp; &nbsp;
      </div>
{% endif%}




<script>
$(document).ready(function() {
$("#not_going_button").click(function(){
$.get('/ajax/event_not_going/{{event.id}}', function(data) {
location.reload();
});
});

$("#going_button").click(function(){
$.get('/ajax/event_going/{{event.id}}', function(data) {
location.reload();
});
});



//$("#invite_button").click(function(){ 
//     showbox();
//});


$("#invite_button").overlay(
{
effect: 'apple',
expose: {
       color: 'gray',
       loadSpeed: 100, 
       opacity: 0.8
    }
}); 
    
});

function showbox() {
$('#invite_popup').show('slow');
$.getJSON('/ajax/event_friend_not_attendees/{{event.id}}', function(data){
$('#twitlist').append(make_friend_list(data));
});
}


</script>

{% endblock %}


{% block attendees %}
<div class="attenddees">
{% for attendee in attendees %} 


<a href="#">
<img src="{{attendee.profile_pic}}" /> 
</a>
&nbsp;




{% endfor %}
</div>
{% endblock %}




{% block footer %}
@Copyright EventSpread 2010.
{% endblock %}
