<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=iso-8859-1" />
    <meta http-equiv="Content-Language" content="en-us" />

    <script type="text/javascript" src="/simpz/site_media/jquery-1.4.2.min.js" ></script>
    <script type="text/javascript" src="/simpz/site_media/myjscript.js" ></script>
    <script type="text/javascript" src="/simpz/site_media/jquery.tools.min.js" ></script>
    <script type="text/javascript" src="/simpz/site_media/jquery.validate.js" ></script>

	{% block  js_css_include %}
	{% endblock %}

	<link rel="stylesheet" href="/simpz/site_media/blueprint/screen.css" type="text/css" media="screen, projection" >
    <link rel="stylesheet" href="/simpz/site_media/blueprint/print.css" type="text/css" media="print" >
    <link rel="stylesheet" href="/simpz/site_media/style.css" type="text/css" >
	<link rel="stylesheet" type="text/css" href="/simpz/site_media/2stylez.css">
	<!--[if IE]>
	<link rel="stylesheet" type="text/css" href="/simpz/site_media/2ie.css" />
	<![endif]-->
	<link rel="stylesheet" type="text/css" href="/simpz/site_media/2content.css">
    
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
	<div id="main">
		<div id="header">
			<div>
				<ul id="topnav">
					<li><a href="get.html">Get Evently</a></li>
					<li><a href="howitworks.html">How it works</a></li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
				
				<div id="featured"><div>
			</div>
		</div>
		<!-- END featured -->
	</div>
</div>
<div id="content">
	
  <div class="container">
    
    <!-- Header Content -->
    {% include "header.html" %}    


    {% block content %}
    {% endblock %}
  <div class="span-24 last myfooter">
  
   
  
</div>	
 <!-- Footer content -->
      {% include "footer.html" %}							
</body>
</html>
    
