{% extends "event_base.html" %}

{% block title %}Event Created, Thanks{% endblock %}

{% block content %}
<p>Event Created, Thanks..</p>

{% if event %}
<a href=/details/{{event.id}}>{{ event.name }}</a> <br />
Event Id: {{ event.id }} <br />
Description: {{event.description}} <br />
Start Time: {{event.event_date_time_start}} <br />
End Time: {{event.event_date_time_end}} <br />
Capacity: {{event.capacity}} <br />
Venue: {{event.venue }} <br />
Venue Address: {{event.venue_address}} <br />
Organizer: {{event.organizer_id}}
{% endif %}

{% endblock %}
