{% extends "event_base.html" %}

{% block title %}User Details{% endblock %}

{% block content %}
<p>User Details.</p>
{% if user %}
User Id: {{ user.id }} <br />
Username: {{user.username}} <br />
Email: {{user.email}} <br />
Name: {{user.name }} <br />
Twitter ID: {{user.twitter_id}} <br />
URL: {{user.url}}

<br /><br />
<input id="showfriends" type="submit" value="ShowFriends" />
<div id="friends">
  Will Display friends Here.
</div>


{% else %}
<p>No User logged in.</p>
{% endif %}

{% endblock %}


{% block jscript %}
<script type="text/javascript">
  $("#showfriends").click(function(){
  $("#friends").html("HELLO ");
  });
</script>
{% endblock %}
