#wrapper
{
	background-image: url(../images/analytics/body-bg.png);
	background-repeat: repeat-x;
}
#header
{
	background: url(../images/analytics/bar.png) center top no-repeat;
	height: 28px;
	padding-top: 10px;
	margin-bottom: 20px;
}
#content
{
	background: #fff;
}
img
{
	border: 0;
	text-decoration: none;
}
