<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=iso-8859-1" />
    <meta http-equiv="Content-Language" content="en-us" />

<link rel="stylesheet" href="{% url static 'css/showLoading.css' %}" type="text/css" media="print">	

<script type="text/javascript" src="{% url static 'javascript/jquery.showLoading.js' %}" ></script>	
    <script type="text/javascript" src="{% url static 'javascript/jquery-1.4.2.min.js' %}" ></script>
	<script type="text/javascript" src="{% url static 'javascript/myjscript.js' %}" ></script>
    <script type="text/javascript" src="{% url static 'javascript/jquery.tools.min.js' %}" ></script>
        <script type="text/javascript" src="{% url static 'javascript/ajaxfileupload.js' %}" ></script>


	<link type="text/css" href="{% url static 'css/jquery-ui-1.8.1.custom.css' %}" rel="Stylesheet" />	
	<script type="text/javascript" src="{% url static 'css/jquery-ui-1.8.1.custom.js' %}"> 
 </script>
<script type="text/javascript" src="{% url static 'javascript/jquery.timePicker.js' %}"></script>


<html> 
<head> 
  <title>Test Facebook Login</title> 
</head> 
<body>  
LOGED IN
<script>
if (opener) {
    window.close();
    opener.location.href = window.location.href;
}
</script>
</body> 
</html>
