<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=iso-8859-1" />
    <meta http-equiv="Content-Language" content="en-us" />


    <script type="text/javascript" src="{% url static 'javascript/jquery-1.4.2.min.js' %}" ></script>
	<script type="text/javascript" src="{% url static 'javascript/myjscript.js' %}" ></script>

<html> 
<head> 
  <title>Test Facebook Login</title> 
</head> 
<body> 

<div id="div-logout">
<button id="flogout">logout</button>

<button id="infobtn">Get Info</button>
<button id="feedbtn">Post Feed</button>
<div id="div-info"></div>
</div>

<div id="div-login">
<button id="flogin">login</button>
</div>


<div id="fb-root"></div>
 <script src="http://connect.facebook.net/en_US/all.js"></script>
</body> 
<script>

{% if fbuser %}
    $("#div-login").hide();
    {% else %}
    $("#div-logout").hide();
{% endif %}


   FB.init({
     appId  : '{{facebook_app_id}}',
     status : true, // check login status
     cookie : true, // enable cookies to allow the server to access the session
     xfbml  : true  // parse XFBML
   });

$('#feedbtn').click(function(){
    $.ajax({ 
                   url: "{% url ajax_facebook_feed_test %}", 
	           dataType: "json", 
	           data: {},
	           success: function (data) { 

                   },
	           beforeSend: function() {
                     
                 } 

    }); 
});

$('#infobtn').click(function(){
    $.ajax({ 
                   url: "{% url ajax_facebook_info_test %}", 
	           dataType: "json", 
	           data: {},
	           success: function (data) {
                       var text = JSON.stringify(data.data) 
                       $("#div-info").text(text);

                   },
	           beforeSend: function() {
                 } 

    }); 
});

 
$('#flogout').click(function(){
    $.ajax({ 
                   url: "{% url ajax_facebook_logout %}", 
	           dataType: "json", 
	           data: {},
	           success: function (data) { 
                       $("#div-logout").hide();
                       $("#div-login").show();

                   },
	           beforeSend: function() {
                       FB.logout();
                 } 

    }); 
});

$('#flogin').click(function () {
        signinWin = window.open("https://graph.facebook.com/oauth/authorize?client_id={{facebook_api}}&redirect_uri={{redirect_uri}}&display=popup&scope={{scope}}", "SignIn", "width=780,height=410");
        setTimeout(CheckLoginStatus, 2000);
        signinWin.focus();
        return false;
    });

function CheckLoginStatus() {
    if (signinWin.closed) {
        window.location.href = "{% url facebook_login_test %}"

   }
    else setTimeout(CheckLoginStatus, 1000);
}
if (opener) {
    window.close();
    opener.href = window.href;
}
</script>



</html>
